<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}

<!-- Top Banner Promotion -->
{{#if theme_settings.show_topPromotion}}
<div id="bspoq_topPromotion" class="u-hidden">
    <div class="container">
        <a href="#" class="banner-promotion text-center block no-underline">
            <span class="text">{{theme_settings.topPromotion_text}}</span>
        </a>
    </div>

    <button type="button" class="promotion-close" aria-label="{{lang 'common.close'}}">
        <svg class="icon" role="img" aria-label="{{lang 'common.close'}}">
            <title>{{lang 'common.close'}}</title>
            <desc>{{lang 'common.close'}}</desc>
            <use xlink:href="#icon-close"></use>
        </svg>
    </button>
</div>
{{/if}}

<header class="header" role="banner">
    <div class="headerMiddle">
        <div class="container container-2 static flex-between-center">
            <div class="headerMiddle__item flex-between-center text-left">
                <div class="items item--hamburger">
                    <a class="mobileMenu-toggle" href="#" data-mobile-menu-toggle="menu">
                        <span class="mobileMenu-toggleIcon">{{lang 'header.toggle_menu'}}</span>
                    </a>
                </div>
                <div class="items item--searchMobile">
                    <a class="navUser-action" href="#" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false" aria-label="{{lang 'search.quick_search.button_search'}}">
                        <div class="navUser-icon">
                            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-header-search"></use></svg>
                        </div>
                    </a>
                </div>
            </div>

            <!-- ----------- Logo ----------- --> 
            <div class="headerMiddle__item flex-between-center text-center">
                <div class="items item--logo">
                    {{#if page_type '===' 'default'}}
                        <h1 class="header-logo">
                            {{> components/common/store-logo}}
                        </h1>
                    {{else}}
                        <div class="header-logo">
                            {{> components/common/store-logo}}
                        </div>
                    {{/if}}
                </div>
            </div>

            <div class="headerMiddle__item flex-between-center text-right">
                <!-- ----------- Search ----------- --> 
                <div class="items item--quickSearch bspoq-search">
                    <div id="quickSearch" data-prevent-quick-search-close>
                        {{> components/common/quick-search}}
                    </div>
                </div>

                <!-- ----------- Trade Account ----------- -->
                <div class="items item--trade flex-center-inline">
                    <a class="navUser-action cartDesktop flex-center-y hover-link"
                    href="{{urls.cart}}"
                    aria-label="Trade Account">
                        <span class="navUser-icon navUser-item-cartIcon flex-center-inline">
                            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-header-trade"></use></svg>
                        </span>
                        <span>Trade Account</span>
                    </a>
                </div>

                <!-- ----------- Cart ----------- -->
                <div class="items item--cart bspoq-cart flex-center-inline">
                    <a class="navUser-action cartDesktop flex-center-y hover-link"
                        data-cart-preview
                        data-options="align:right"
                        href="{{urls.cart}}"
                        aria-label="{{lang 'cart.nav_aria_label'}}">
                        <span class="navUser-icon navUser-item-cartIcon flex-center-inline">
                            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-shopping-cart"></use></svg>
                        </span>
                        <span>{{lang 'common.cart'}}</span>
                    </a>
                    <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity flex-center">{{cart.quantity}}</span>

                    <div class="dropdown-cart" id="cart-preview-dropdown" aria-hidden="true"></div>
                </div>

                <!-- ----------- Account ----------- --> 
                <div class="items item--account">
                    {{#if customer}}
                        <a class="navUser-action flex-center-y hover-link hide-on-tablet" href="{{urls.account.index}}" aria-label="{{customer.name}}" data-login-form>
                            <span class="navUser-icon flex-center-inline">
                                <svg class="icon" aria-hidden="true"><use xlink:href="#icon-information"></use></svg>
                            </span>
                            <span>{{customer.name}}</span>
                        </a>
                    {{else}}
                        <a class="navUser-action flex-center-y hover-link hide-on-tablet" href="{{urls.auth.login}}" aria-label="{{lang 'account.title'}}" data-login-form>
                            <span class="navUser-icon flex-center-inline">
                                <svg class="icon" aria-hidden="true"><use xlink:href="#icon-information"></use></svg>
                            </span>
                            <span>{{lang 'account.title'}}</span>
                        </a>
                    {{/if}}

                    <!-- Mobile -->
                    <a class="navUser-action myAccountMobile hide-on-desktop" {{#if customer}}href="{{urls.account.index}}"{{else}}href="{{urls.auth.login}}"{{/if}} data-login-form-mobile aria-label="{{lang 'account.title'}}">
                        <span class="navUser-icon flex-center-inline">
                            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-information"></use></svg>
                        </span>
                    </a>
                </div>

                <!-- ----------- Currency ----------- -->
                {{#or customer (unless settings.hide_price_from_guests)}}
                    <div class="items item--currency flex-center-inline">
                        {{> components/common/currency-selector}}
                    </div>
                {{/or}}
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="navPages-container" id="menu" data-menu>
            {{> components/common/navigation-menu}}
        </div>
    </div>
    {{{region name="header_navigation_bottom--global"}}}
</header>
{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}
