{{#if children}}
<a class="navPages-action navPages-action--lv1 has-subMenu{{#if is_active}} activePage{{/if}}"
   href="{{url}}"
   data-collapsible="navPages-{{id}}"
>
    <i class="icon navPages-action--back hide-on-desktop" aria-hidden="true">
        <svg class="icon--back"><use href="#icon-long-arrow-left" /></svg>
    </i>

    {{name}}

    <i class="icon navPages-action-moreIcon" aria-hidden="true">
        <svg><use href="#icon-chevron-down" /></svg>
    </i>
</a>
<div class="navPage-subMenu customScrollbar" id="navPages-{{id}}" aria-hidden="true" tabindex="-1">
    <a href="{{url}}" class="custom-viewAll-navPage hide-on-tablet" aria-label="Shop All {{name}}">
        <span>Shop All {{name}}</span>
        <!-- <span>Shop All Reinstatement Materials</span> -->
    </a>

    <div class="container">
        <ul class="navPage-subMenu-list">
            <li class="navPage-subMenu-item hide-on-desktop">
                <a class="navPage-subMenu-action navPages-action"
                   href="{{url}}"
                   aria-label="{{lang 'category.view_all.name' category=name}}"
                >
                    {{lang 'category.view_all.name' category=name}}
                </a>
            </li>
            {{#each children}}
                <li class="navPage-subMenu-item navPage-subMenu-item--lv2">
                    {{#if children}}
                        <a class="navPage-subMenu-action navPages-action has-subMenu{{#if is_active}} activePage{{/if}}"
                           href="{{url}}"
                           aria-label="{{name}}"
                        >
                            <i class="icon navPages-action--back hide-on-desktop" aria-hidden="true">
                                <svg class="icon--back"><use href="#icon-long-arrow-left" /></svg>
                            </i>
    
                            {{name}}
                            <span class="collapsible-icon-wrapper"
                                data-collapsible="navPages-{{id}}"
                                data-collapsible-disabled-breakpoint="medium"
                                data-collapsible-disabled-state="open"
                                data-collapsible-enabled-state="closed"
                            >
                                <i class="icon navPages-action-moreIcon" aria-hidden="true">
                                    <svg><use href="#icon-chevron-down" /></svg>
                                </i>
                            </span>
                        </a>
                        <ul class="navPage-childList" id="navPages-{{id}}">
                            {{#each children}}
                            <li class="navPage-childList-item navPage-subMenu-item--lv3">
                                <a class="navPage-childList-action navPages-action{{#if is_active}} activePage{{/if}}"
                                   href="{{url}}"
                                   aria-label="{{name}}"
                                >
                                    {{name}}
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                    {{else}}
                        <a class="navPage-subMenu-action navPages-action{{#if is_active}} activePage{{/if}}"
                           href="{{url}}"
                           aria-label="{{name}}"
                        >
                            {{name}}
                        </a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
</div>
{{else}}
<a class="navPages-action{{#if is_active}} activePage{{/if}}"
   href="{{url}}"
   aria-label="{{name}}"
>
    {{name}}
</a>
{{/if}}
