---
brand:
    products:
        limit: {{theme_settings.brandpage_products_per_page}}
---
{{inject "brandProductsPerPage" theme_settings.brandpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.brand.previous}}
        <link rel="prev" href="{{pagination.brand.previous}}">
    {{/if}}
    {{#if pagination.brand.next}}
        <link rel="next" href="{{pagination.brand.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if brand.image}}
    <div class="brand-image-container">
        {{> components/common/responsive-img
            image=brand.image
            fallback_size=theme_settings.thumb_size
            lazyload='disabled'
        }}
    </div>
{{/if}}
<h1 class="page-heading">{{brand.name}}</h1>
{{{region name="brand_below_header"}}}
<div class="container container-2 page-brands">
    <div class="page page-listing">
        {{#if theme_settings.custom_category_sidebar}}
        <div class="page-sidebar-mobile-wrapper">
            <div class="page-sidebar-mobile">
                <span class="text">{{lang 'common.sidebar'}}</span>
                <svg class="icon" role="img" aria-label="{{lang 'common.sidebar'}}">
                    <title>{{lang 'common.sidebar'}}</title>
                    <desc>{{lang 'common.sidebar'}}</desc>
                    <use xlink:href="#icon-sidebar"></use>
                </svg>
            </div>
        </div>
        {{/if}}
        <!--  -------------------------- Sidebar -------------------------- -->
        {{#if theme_settings.custom_category_sidebar}}
        <aside class="page-sidebar{{#if theme_settings.customToolbar_viewAs}} has-toolbar{{/if}}" id="faceted-search-container">
            <div class="page-sidebar-close">
                <span class="title">{{lang 'common.sidebar'}}</span>
                <a href="#" class="close">
                    <svg class="icon" role="img" aria-label="{{lang 'common.close'}}">
                        <title>{{lang 'common.close'}}</title>
                        <desc>{{lang 'common.close'}}</desc>
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </a>
            </div>
            {{> components/brand/sidebar}}
        </aside>
        {{/if}}
    
        <main class="page-content" id="product-listing-container">
            {{#if brand.search_error }}
                <p>{{lang 'search.errorMessage'}}</p>
            {{else}}
                {{#if brand.products}}
                    {{> components/brand/product-listing}}
                {{else}}
                    <p>{{lang 'brands.no_products'}}</p>
                {{/if}}
                {{{region name="brand_below_content"}}}
            {{/if}}
        </main>
    </div>
</div>

{{/partial}}
{{> layout/base}}
