---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

<div class="categoryHeader">
    {{#if category.image}}
        <div class="categoryHeader__image">
            {{> components/common/responsive-img
                image=category.image
                fallback_size=theme_settings.zoom_size
                lazyload='disabled'
                class="category-header-image"
            }} 
        </div>
    {{/if}}

    <div class="categoryHeader__content">
        <div class="container container-2">
            <h1 class="categoryHeader__title">{{category.name}}</h1>
        {{#if category.description}}
            <div class="categoryHeader__description">
                <span class="categoryHeader__description--wrapper">{{{category.description}}}</span>
            </div>
            <a href="#" class="categoryHeader__description--viewMore uppercsae">Read More</a>
        {{/if}}
        </div>
    </div>
</div>


{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

{{#unless theme_settings.hide_category_page_heading }}
    <h1 class="page-heading">{{category.name}}</h1>
    {{{region name="category_below_header"}}}
{{/unless}}

{{> components/bspoq/category/custom-subcategories }}

<div class="container container-2 page-category">
    <div class="page page-listing">
        {{#if theme_settings.custom_category_sidebar}}
        <div class="page-sidebar-mobile-wrapper">
            <div class="page-sidebar-mobile">
                <span class="text">{{lang 'common.sidebar'}}</span>
                <svg class="icon" role="img" aria-label="{{lang 'common.sidebar'}}">
                    <title>{{lang 'common.sidebar'}}</title>
                    <desc>{{lang 'common.sidebar'}}</desc>
                    <use xlink:href="#icon-sidebar"></use>
                </svg>
            </div>
        </div>
        {{/if}}
        <!--  -------------------------- Sidebar -------------------------- -->
        {{#if theme_settings.custom_category_sidebar}}
        <aside class="page-sidebar{{#if theme_settings.customToolbar_viewAs}} has-toolbar{{/if}}" id="faceted-search-container">
            <div class="page-sidebar-close">
                <span class="title">{{lang 'common.sidebar'}}</span>
                <a href="#" class="close">
                    <svg class="icon" role="img" aria-label="{{lang 'common.close'}}">
                        <title>{{lang 'common.close'}}</title>
                        <desc>{{lang 'common.close'}}</desc>
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </a>
            </div>
            {{> components/category/sidebar}}
        </aside>
        {{/if}}
    
        <!--  -------------------------- Content -------------------------- -->
        <main class="page-content" id="product-listing-container">
            <div class="product-listing-content">
                {{#if category.products}}
                    {{> components/category/product-listing productsnew=products.new show_compare=category.show_compare}}
                {{else}}
                    <p class="page-no-products">{{lang 'categories.no_products'}}</p>
                {{/if}}
            </div>
        </main>
    
        <div class="page-region">
            {{{region name="category_below_content"}}}
        </div>
    </div>
</div>

{{/partial}}
{{> layout/base}}
