---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    {{{region name="home_below_menu"}}}
    {{#and carousel carousel.slides.length}}
        {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows play_pause_button=theme_settings.homepage_show_carousel_play_pause_button}}
    {{/and}}
    {{{region name="home_below_carousel"}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

<div class="main full">
    <!-- Home Service Block -->
    <div class="serviceBlock">
        <div class="container">
            <div class="serviceBlock__list">
                <div class="serviceBlock__item">
                    <span class="item-icon icon icon--footer-location">
                        <svg><use xlink:href="#icon-footer-location"></use></svg>
                    </span>
                    <span class="item-text">Credit Accounts Available</span>
                </div>
                <div class="serviceBlock__item">
                    <span class="item-icon icon icon--footer-location">
                        <svg><use xlink:href="#icon-footer-location"></use></svg>
                    </span>
                    <span class="item-text">Next Day UK Delivery</span>
                </div>
                <div class="serviceBlock__item">
                    <span class="item-icon icon icon--footer-location">
                        <svg><use xlink:href="#icon-footer-location"></use></svg>
                    </span>
                    <span class="item-text">Trustpilot</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Home Banner Text -->
    <div class="bannerText">
        <div class="container container--full">
            <div class="bannerText__list bannerText__list--top">
                <div class="bannerText__item">
                    <a href="#" class="bannerText__image">
                        <img src="https://placehold.jp/465x265.png" alt="Banner Image">
                    </a>
                    <div class="bannerText__content">
                        <p class="text">Shop All</p>
                        <h2 class="title">Hand Tools</h2>
                    </div>
                </div>
                <div class="bannerText__item">
                    <a href="#" class="bannerText__image">
                        <img src="https://placehold.jp/465x265.png" alt="Banner Image">
                    </a>
                    <div class="bannerText__content">
                        <p class="text">Shop All</p>
                        <h2 class="title">Hand Tools</h2>
                    </div>
                </div>
                <div class="bannerText__item">
                    <a href="#" class="bannerText__image">
                        <img src="https://placehold.jp/465x265.png" alt="Banner Image">
                    </a>
                    <div class="bannerText__content">
                        <p class="text">Shop All</p>
                        <h2 class="title">Hand Tools</h2>
                    </div>
                </div>
                <div class="bannerText__item">
                    <a href="#" class="bannerText__image">
                        <img src="https://placehold.jp/465x265.png" alt="Banner Image">
                    </a>
                    <div class="bannerText__content">
                        <p class="text">Shop All</p>
                        <h2 class="title">Hand Tools</h2>
                    </div>
                </div>
            </div>
            <div class="bannerText__list bannerText__list--bottom">
                <div class="bannerText__item">
                    <a href="#" class="bannerText__image">
                        <img src="https://placehold.jp/465x265.png" alt="Banner Image">
                    </a>
                    <div class="bannerText__content">
                        <p class="text">Shop All</p>
                        <h2 class="title">Hand Tools</h2>
                    </div>
                </div>
                <div class="bannerText__item">
                    <a href="#" class="bannerText__image">
                        <img src="https://placehold.jp/465x265.png" alt="Banner Image">
                    </a>
                    <div class="bannerText__content">
                        <p class="text">Shop All</p>
                        <h2 class="title">Hand Tools</h2>
                    </div>
                </div>
                <div class="bannerText__item">
                    <a href="#" class="bannerText__image">
                        <img src="https://placehold.jp/465x265.png" alt="Banner Image">
                    </a>
                    <div class="bannerText__content">
                        <p class="text">Shop All</p>
                        <h2 class="title">Hand Tools</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Home 2 Banners -->
    <div class="homeBanner">
        <div class="container container-2">
            <div class="homeBanner__list">
                <div class="homeBanner__item">
                    <a href="#" class="homeBanner__image">
                        <img src="https://placehold.jp/676x223.png" alt="Banner Image">
                    </a>

                    <div class="homeBanner__content">
                        <h2 class="title">15%<span>OFF</span></h2>
                        <p class="text">RedStag Cutting Discs</p>
                        <a href="#" class="button uppercase button--primary">Shop Now</a>
                    </div>
                </div>
                <div class="homeBanner__item">
                    <a href="#" class="homeBanner__image">
                        <img src="https://placehold.jp/676x223.png" alt="Banner Image">
                    </a>

                    <div class="homeBanner__content">
                        <h2 class="title">15%<span>OFF</span></h2>
                        <p class="text">RedStag Cutting Discs</p>
                        <a href="#" class="button uppercase button--primary">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Home Top Brands -->
    <div class="brandBlock">
        <div class="container container-2">
            <div class="brandBlock__list">
                <div class="brandBlock__item">
                    <a href="#" class="brandBlock__image">
                        <img src="https://placehold.jp/215x124.png" alt="Brand Image">
                    </a>
                </div>
                <div class="brandBlock__item">
                    <a href="#" class="brandBlock__image">
                        <img src="https://placehold.jp/215x124.png" alt="Brand Image">
                    </a>
                </div>
                <div class="brandBlock__item">
                    <a href="#" class="brandBlock__image">
                        <img src="https://placehold.jp/215x124.png" alt="Brand Image">
                    </a>
                </div>
                <div class="brandBlock__item">
                    <a href="#" class="brandBlock__image">
                        <img src="https://placehold.jp/215x124.png" alt="Brand Image">
                    </a>
                </div>
                <div class="brandBlock__item">
                    <a href="#" class="brandBlock__image">
                        <img src="https://placehold.jp/215x124.png" alt="Brand Image">
                    </a>
                </div>
                <div class="brandBlock__item">
                    <a href="#" class="brandBlock__image">
                        <img src="https://placehold.jp/215x124.png" alt="Brand Image">
                    </a>
                </div>
                <div class="brandBlock__item">
                    <a href="#" class="brandBlock__image">
                        <img src="https://placehold.jp/215x124.png" alt="Brand Image">
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{#if products.featured}}
        {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
    {{/if}}
    {{{region name="home_below_featured_products"}}}

    {{#if products.top_sellers}}
        {{> components/products/top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count}}
    {{/if}}
    {{{region name="home_below_top_products"}}}

    {{#if products.new}}
        {{> components/products/new products=products.new columns=theme_settings.homepage_new_products_column_count}}
    {{/if}}
    {{{region name="home_below_new_products"}}}
</div>
{{/partial}}
{{> layout/base}}
