---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    {{{region name="home_below_menu"}}}
    {{#and carousel carousel.slides.length}}
        {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows play_pause_button=theme_settings.homepage_show_carousel_play_pause_button}}
    {{/and}}
    {{{region name="home_below_carousel"}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

<div class="main full">
    <!-- Home Service Block -->
   {{> components/bspoq/home/service-section }}

    <!-- Home Banner Text -->
   {{> components/bspoq/home/home-banner-1 }}

   <!-- Featured products -->
   {{#if products.featured}}
        <div class="custom-section homeFeaturedBlock">
            <h2 class="custom-heading">Featured Products</h2>
            <p class="custom-desc">Picked for you</p>

            <div class="container container-2">
                {{> components/products/carousel 
                    products=products.featured 
                    columns=theme_settings.homepage_featured_products_column_count 
                    dots=false
                    infinite=true
                }}
            </div>
        </div>
   {{/if}}

    <!-- Home 2 Banners -->
   {{> components/bspoq/home/home-banner-2 }}

    <!-- Home Top Brands -->
   {{> components/bspoq/home/home-brand 
        heading=theme_settings.home_brand_heading1
        description=theme_settings.home_brand_description1
        item1_image=theme_settings.home_brand_item1-1_image
        item1_link=theme_settings.home_brand_item1-1_link
        item2_image="brand-item-2.png"
        item2_link=theme_settings.home_brand_item1-2_link
        item3_image=theme_settings.home_brand_item1-3_image
        item3_link=theme_settings.home_brand_item1-3_link
        item4_image=theme_settings.home_brand_item1-4_image
        item4_link=theme_settings.home_brand_item1-4_link
        item5_image=theme_settings.home_brand_item1-5_image
        item5_link=theme_settings.home_brand_item1-5_link
        item6_image=theme_settings.home_brand_item1-6_image
        item6_link=theme_settings.home_brand_item1-6_link
        item7_image=theme_settings.home_brand_item1-7_image
        item7_link=theme_settings.home_brand_item1-7_link
    }}

    {{> components/bspoq/home/home-recently-posts post=blog.recent_posts }}

    {{> components/bspoq/home/home-brand 
        heading=theme_settings.home_brand_heading2
        description=theme_settings.home_brand_description2
        item1_image=theme_settings.home_brand_item2-1_image
        item1_link=theme_settings.home_brand_item2-1_link
        item2_image=theme_settings.home_brand_item2-2_image
        item2_link=theme_settings.home_brand_item2-2_link
        item3_image=theme_settings.home_brand_item2-3_image
        item3_link=theme_settings.home_brand_item2-3_link
        item4_image=theme_settings.home_brand_item2-4_image
        item4_link=theme_settings.home_brand_item2-4_link
        item5_image=theme_settings.home_brand_item2-5_image
        item5_link=theme_settings.home_brand_item2-5_link
        item6_image=theme_settings.home_brand_item2-6_image
        item6_link=theme_settings.home_brand_item2-6_link
        item7_image=theme_settings.home_brand_item2-7_image
        item7_link=theme_settings.home_brand_item2-7_link
    }}
    
</div>
{{/partial}}
{{> layout/base}}
