---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    {{{region name="home_below_menu"}}}
    {{#and carousel carousel.slides.length}}
        {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows play_pause_button=theme_settings.homepage_show_carousel_play_pause_button}}
    {{/and}}
    {{{region name="home_below_carousel"}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

<div class="main full">
    <!-- Home Service Block -->
   {{> components/bspoq/home/service-section }}

    <!-- Home Banner Text -->
   {{> components/bspoq/home/home-banner-1 }}

   <!-- Featured products -->
   {{#if products.featured}}
        <div class="custom-section homeFeaturedBlock">
            <h2 class="custom-heading">Featured Products</h2>
            <p class="custom-desc">Picked for you</p>

            <div class="container container-2">
                {{> components/products/carousel 
                    products=products.featured 
                    columns=theme_settings.homepage_featured_products_column_count 
                    dots=false
                    infinite=true
                }}
            </div>
        </div>
   {{/if}}

    <!-- Home 2 Banners -->
   {{> components/bspoq/home/home-banner-2 }}

    <!-- Home Top Brands -->
   {{> components/bspoq/home/home-brand 
        heading=theme_settings.home_brand_heading1
        description=theme_settings.home_brand_description1
        item1_image=theme_settings.home_brand_item1-1_image
        item1_link=theme_settings.home_brand_item1-1_link
        item2_image="brand-item-2.png"
        item2_link=theme_settings.home_brand_item1-2_link
        item3_image=theme_settings.home_brand_item1-3_image
        item3_link=theme_settings.home_brand_item1-3_link
        item4_image=theme_settings.home_brand_item1-4_image
        item4_link=theme_settings.home_brand_item1-4_link
        item5_image=theme_settings.home_brand_item1-5_image
        item5_link=theme_settings.home_brand_item1-5_link
        item6_image=theme_settings.home_brand_item1-6_image
        item6_link=theme_settings.home_brand_item1-6_link
        item7_image=theme_settings.home_brand_item1-7_image
        item7_link=theme_settings.home_brand_item1-7_link
    }}

    {{> components/bspoq/home/home-recently-posts post=blog.recent_posts }}

    {{> components/bspoq/home/home-brand 
        heading=theme_settings.home_brand_heading2
        description=theme_settings.home_brand_description2
        item1_image=theme_settings.home_brand_item2-1_image
        item1_link=theme_settings.home_brand_item2-1_link
        item2_image=theme_settings.home_brand_item2-2_image
        item2_link=theme_settings.home_brand_item2-2_link
        item3_image=theme_settings.home_brand_item2-3_image
        item3_link=theme_settings.home_brand_item2-3_link
        item4_image=theme_settings.home_brand_item2-4_image
        item4_link=theme_settings.home_brand_item2-4_link
        item5_image=theme_settings.home_brand_item2-5_image
        item5_link=theme_settings.home_brand_item2-5_link
        item6_image=theme_settings.home_brand_item2-6_image
        item6_link=theme_settings.home_brand_item2-6_link
        item7_image=theme_settings.home_brand_item2-7_image
        item7_link=theme_settings.home_brand_item2-7_link
    }}

    <a href="tel:+03456 460 354" class="home-button-call">
        <span class="icon icon--home-call-button">
            <svg viewBox="0 0 24 24" id="home-call-button" transform="rotate(90)matrix(-1, 0, 0, -1, 0, 0)" stroke="#ffffff">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16.5562 12.9062L16.1007 13.359C16.1007 13.359 15.0181 14.4355 12.0631 11.4972C9.10812 8.55901 10.1907 7.48257 10.1907 7.48257L10.4775 7.19738C11.1841 6.49484 11.2507 5.36691 10.6342 4.54348L9.37326 2.85908C8.61028 1.83992 7.13596 1.70529 6.26145 2.57483L4.69185 4.13552C4.25823 4.56668 3.96765 5.12559 4.00289 5.74561C4.09304 7.33182 4.81071 10.7447 8.81536 14.7266C13.0621 18.9492 17.0468 19.117 18.6763 18.9651C19.1917 18.9171 19.6399 18.6546 20.0011 18.2954L21.4217 16.883C22.3806 15.9295 22.1102 14.2949 20.8833 13.628L18.9728 12.5894C18.1672 12.1515 17.1858 12.2801 16.5562 12.9062Z" fill="#ffffff"></path> </g>
                </svg>
        </span>
    </a>
    
</div>
{{/partial}}
{{> layout/base}}
