{{#partial "page"}}

{{#unless (toLowerCase page.title) '==' 'ez street'}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{/unless}}


<main class="page">
    {{#unless theme_settings.hide_page_heading }}
        <h1 class="page-heading">{{ page.title }}</h1>
    {{/unless}}

    {{#if page.sub_pages}}
    <nav class="navBar navBar--sub">
        <ul class="navBar-section account-navigation">
        {{#each page.sub_pages}}
            <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
        {{/each}}
        </ul>
    </nav>
    {{/if}}

    {{{region name="page_builder_content"}}}

    <div class="page-content page-content--centered">
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
        
        {{#unless (toLowerCase page.title) '==' 'ez street'}}
            <p>{{{page.content}}}</p>
        {{/unless}}

        <!-- Ez Street Top Banner -->
        <div class="ezTopBanner">
            <div class="ezTopBannerImage skeleton-loader">
                <img class="lazyload" src="" data-src="/product_images/uploaded_images/ez-street-top-banner.png" alt="EZ Street Banner">
            </div>
        </div>

        <!-- Custom Product Block IDs -->
        <div id="list-product-detail-block" class="home-product-block">
            <div class="container">
                <h2 class="custom-heading-page">SHOW POTHOLES WHO’S BOSS</h2>

                <div id="list-product-detail" class="product-block" data-columns="5" data-limit="8" data-dots="false">
                    <div class="productsByListId custom-block-product" data-list-id="115,116,118,120" id="product-by-list-id">
                        <div class="custom_productLoading productSkeleton__list">
                            {{> components/bspoq/skeleton/product-skeleton }}
                            {{> components/bspoq/skeleton/product-skeleton }}
                            {{> components/bspoq/skeleton/product-skeleton }}
                            {{> components/bspoq/skeleton/product-skeleton }}
                            {{> components/bspoq/skeleton/product-skeleton }}
                        </div>
                        <section class="productCarousel productCarouselCustom"></section>
                    </div>
                </div>
            </div>
        </div>

        <!-- Rethink Asphalt Section -->
        <section class="rethinkAsphalt">
            <div class="container container-2">
                <h2 class="rethinkAsphalt__heading custom-heading-page white">RETHINK YOUR ASPHALT</h2>
                <p class="rethinkAsphalt__desc custom-desc-page white">
                    EZ Street is a technologically advanced, all-temperature asphalt.
                    <br>
                    It’s ready to go right out of the bag, or off the stockpile, without heat, or any special treatment.
                </p>

                <div class="rethinkAsphalt__list">
                    <div class="rethinkAsphalt__item">
                        <div class="item-image">
                            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/shield-check.png" alt="Guaranteed Permanent">
                        </div>
                        <p class="item-text">
                            Guaranteed <br> Permanent
                        </p>
                    </div>
                    <div class="rethinkAsphalt__item">
                        <div class="item-image">
                            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/cloud-sun-rain.png" alt="Works in Water & All Weather">
                        </div>
                        <p class="item-text">
                            Works in Water <br> & All Weather
                        </p>
                    </div>
                    <div class="rethinkAsphalt__item">
                        <div class="item-image">
                            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/bonds-arrows.png" alt="Bonds to Asphalt and Concrete">
                        </div>
                        <p class="item-text">
                            Bonds to Asphalt <br> and Concrete
                        </p>
                    </div>
                    <div class="rethinkAsphalt__item">
                        <div class="item-image">
                            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/car-rear.png" alt="Instantly Traffic-Ready">
                        </div>
                        <p class="item-text">
                            Instantly <br> Traffic-Ready
                        </p>
                    </div>
                    <div class="rethinkAsphalt__item">
                        <div class="item-image">
                            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/angle-circle-right.png" alt="“Throw & Go” Approved">
                            
                        </div>
                        <p class="item-text">
                            “Throw & Go” <br> Approved
                        </p>
                    </div>
                    <div class="rethinkAsphalt__item">
                        <div class="item-image">
                            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/ball-pile.png" alt="Stockpiles for Months">
                        </div>
                        <p class="item-text">
                            Stockpiles <br> for Months
                        </p>
                    </div>
                    <div class="rethinkAsphalt__item">
                        <div class="item-image">
                            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/refresh.png" alt="Mixing, No tack">
                        </div>
                        <p class="item-text">
                            Mixing,<br> No tack
                        </p>
                    </div>
                    <div class="rethinkAsphalt__item">
                        <div class="item-image">
                            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/settings.png" alt="Always Workable">
                        </div>
                        <p class="item-text">
                            Always <br> Workable
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Advantages Section -->
        <section class="advantages">
            <div class="advantages__top">
                <div class="container">
                    <h2 class="custom-heading-page blue">
                        50LB BAGS | LOOSE BULK | 1 TON SACKS
                    </h2>
                    <p class="custom-desc-page advantages__desc">
                        Our customers apply EZ Street as a simple, cost-saving, permanent solution to a resourceful spectrum of asphalt and road work, including paving.
                    </p>
                </div>
            </div>

            <div class="advantages__wrapper">
                <div class="advantages__item item--left">
                    <div class="item">
                        <a href="#" class="item-image">
                            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/always-workable-banner.png" alt="Always Workable">

                            <button class="button button--primary advantages__button">
                                <span class="button-text-default">VIEW THE RANGE</span>
                                <span class="button-text-hover">VIEW MORE</span>
                            </button>
                        </a>
                        <div class="item-content">
                            <h3 class="custom-heading-page blue item-heading">
                                ALWAYS WORKABLE
                            </h3>
                            <ul class="item-list">
                                <li>Potholes</li>
                                <li>Utility Cuts</li>
                                <li>Overlays</li>
                                <li>Edge Repairs</li>
                                <li>Manhole/Valve/</li>
                                <li>Drain Surrounds</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="advantages__item item--right">
                    <div class="item">
                        <a href="#" class="item-image">
                            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/save-time-money-banner.png" alt="Save Time & Money">
                        </a>
    
                        <div class="item-content">
                            <h3 class="custom-heading-page blue item-heading">
                                SAVE TIME & MONEY
                            </h3>
                            <p class="item-desc">
                                Permanent, all temperature, asphalt means done is done. No more hot-mix sized crews… or second trip to the patch.
                            </p>
    
                            <h4 class="item-subTitle">
                                Cost Comparison
                            </h4>
    
                            <span class="item-subDesc">
                                Cold & Hot Mix vs. EZ Street Permanent Asphalt
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- How it work -->
        <section class="howItWork">
            <div class="howItWork__top flex-center">
                <h2 class="howItWork__heading custom-heading-page white">HOW IT WORKS</h2>
            </div>

            <div class="howItWork__list">
                <div class="howItWork__item">
                    <div class="item">
                        <a href="#" class="item-image">
                            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/sweep.png" alt="Sweep">
                        </a>

                        <div class="item-content">
                            <h4 class="item-title uppercase">Sweep</h4>
                            <p class="item-desc">
                                Clear away loose debris, sand, leaves, rubber duckies, etc. (you can leave the water). Instead of building a foundation for the repair, you’re clearing one off.
                            </p>
                            <p class="item-desc">
                                EZ Street asphalt will adhere to anything solid in the pothole, but if it’s not fixed to the pavement, your repair won’t be either.
                            </p>
                            <p class="item-desc">
                                You’ll know it's ready when there’s nothing loose along the edges, or bottom of the pothole for the repair to stick to.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="howItWork__item">
                    <div class="item">
                        <a href="#" class="item-image">
                            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/fill.png" alt="Fill">
                        </a>

                        <div class="item-content">
                            <h4 class="item-title uppercase">Fill</h4>
                            <p class="item-desc">
                                If the crater’s deeper than three inches, it’s a good idea to fill in two inch layers, or “lifts”, compacting each layer before adding the next, to increase the density of the foundational layers. 
                            </p>
                            <p class="item-desc">
                                Fill the pothole to just over the level of the existing pavement. Then…
                            </p>
                        </div>
                    </div>
                </div>
                <div class="howItWork__item">
                    <div class="item">
                        <a href="#" class="item-image">
                            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/compact.png" alt="Compact">
                        </a>

                        <div class="item-content">
                            <h4 class="item-title uppercase">Compact</h4>
                            <p class="item-desc">
                                If you don’t have a hand tamp, simply drive over the repair until it’s level with the pavement. And. That’s. It.
                            </p>
                            <p class="item-desc">
                                It’s 100% okay to drive on an EZ Street asphalt repair immediately after completion—we call it “secondary compaction”.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- banner video -->
        <section class="bannerVideo">
            <a href="#" class="bannerImage">
                <!-- <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/" alt=""> -->
            </a>
        </section>
        
        {{/replace}}
    </div>

    {{#if page.feed}}
        <ul>
            {{#each page.feed}}
                <li>
                    <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                    <p>{{content}}</p>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</main>

{{/partial}}

{{> layout/base}}
