{{#partial "page"}}

{{#unless (toLowerCase page.title) '==' 'ez street'}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{/unless}}


<main class="page">
    {{#unless theme_settings.hide_page_heading }}
        <h1 class="page-heading">{{ page.title }}</h1>
    {{/unless}}

    {{#if page.sub_pages}}
    <nav class="navBar navBar--sub">
        <ul class="navBar-section account-navigation">
        {{#each page.sub_pages}}
            <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
        {{/each}}
        </ul>
    </nav>
    {{/if}}

    {{{region name="page_builder_content"}}}

    <div class="page-content page-content--centered">
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
        
        {{#unless (toLowerCase page.title) '==' 'ez street'}}
            <p>{{{page.content}}}</p>
        {{/unless}}

        <!-- Ez Street Top Banner -->
        <div class="ezTopBanner">
            <div class="ezTopBannerImage skeleton-loader">
                <img class="lazyload" src="" data-src="/product_images/uploaded_images/ez-street-top-banner.png" alt="EZ Street Banner">
            </div>
        </div>

        <!-- Custom Product Block IDs -->
        <div id="list-product-detail-block" class="home-product-block">
            <div class="container">
                <h2 class="custom-heading-page">SHOW POTHOLES WHO’S BOSS</h2>

                <div id="list-product-detail" class="product-block" data-columns="5" data-limit="8" data-dots="false">
                    <div class="productsByListId custom-block-product" data-list-id="115,116,117,118,119,120" id="product-by-list-id">
                        <div class="custom_productLoading"></div>
                        <div class="productCarouselCustom"></div>
                    </div>
                </div>
            </div>
        </div>
        
        {{/replace}}
    </div>

    {{#if page.feed}}
        <ul>
            {{#each page.feed}}
                <li>
                    <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                    <p>{{content}}</p>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</main>

{{/partial}}

{{> layout/base}}
