.card {
    position: relative;
    margin-bottom: 32px;
    margin-top: 10px;
    padding: 15px 15px 48px;

    @include smin-l {
        .productGrid--maxCol1  & {
            padding-bottom: 0;
            display: flex !important;
            align-items: center;
    
            .card-figure {
                width: 242px;
            }
        }
    }

    @include smax-xs {
        .productGrid--maxCol1 & {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &:focus-within {
        .card-figcaption {
            opacity: 1;
            visibility: visible;
            transform: translate3d(0, 0, 0);
        }
    }

    .card-figcaption-button {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
        transform: translate3d(0, 30px, 0);

        @include smin-xs {
            .productGrid--maxCol1  & {
                left: unset;
                width: calc(100% - 295px);
                bottom: unset;
            }
        }

        @include smin-m {
            .productGrid--maxCol1  & {
                width: calc(100% - 450px);
                right: 15px;
            }
        }

        @include smin-l {
            .productGrid--maxCol1  & {
                width: 242px;
                bottom: unset;
                left: unset;
                right: 44px;
                top: 50%;
                transform: translateY(-50%) translate3d(0, -30px, 0);
            }
        }

       
    }

    &:hover {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
        
        .card-figcaption-button {
            opacity: 1;
            visibility: visible;
            transform: translate3d(0, 0, 0);

            @include smin-l {
                .productGrid--maxCol1  & {
                    transform: translateY(-50%) translate3d(0, 0, 0);
                }
            }
        }
    }

    @include smax-m {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
        
        .card-figcaption-button {
            opacity: 1;
            visibility: visible;
            transform: translate3d(0, 0, 0);
        }
    }
}

.card-figure {
    position: relative;
    margin-top: 0;
    
    .card-img-container {
        max-width: 100%;

        &::after {
            content: '';
            display: block;
            height: 0;
            width: 100%;
            padding-bottom: 86%;
        }

        @include smax-s {
            max-width: 640px;
        }
    }

    /* Hover Image */
    .card-image {
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        border: 0;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        margin-bottom: 0;
        
        @include smin-l {
            max-height: 206px;

        }
    }

    .card-img-hover {
        > .card-image {
            transition: all .3s ease;
        }
    }

    .card-figcaption {
        margin: 0;
    }

    &__link {
        position: relative;
        z-index: 1;
        display: block;
    }
}

.card-body {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;

    @include smax-s {
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;

        .productGrid--maxCol1 & {
            padding-left: 0;
            padding-right: 0;
        }
    }; 

    .card-title{
        font-size: $fontSize-root - 2;
        font-weight: $fontWeight-normal;
        letter-spacing: $letterSpacing-base;
        color: #515C6F;
        line-height: 20px;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 4px;

        > a {
            text-decoration: none;
        }
    }
}

/* Custom card has sale price */
.card {
    &.card--salePrice {
        .priceWithoutTax__wrapper {
            .price-section {
                > span,
                > abbr {
                    color: stencilColor("color_badge_product_sale_badges");
                }
            }
        }
    }
}

/* Custom the same height for all cards */
.productCarousel {
    .slick-track {
        display: flex;
    }

    div.slick-list {
        @include smin-xl {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .slick-slide {
        height: inherit;
        
        @include smin-xl {
            padding: 0;
        }

        .card {
            height: 100%;
            padding-bottom: 87px;
            margin-top: 0;

            @include smax-s {
                padding-bottom: 85px;
            }

            .card-text {
                &[data-test-info-type="productRating"] {
                    position: absolute;
                    bottom: 50px;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-bottom: 0;
                }
            }
        }
    }
}