// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================

// Container
// -----------------------------------------------------------------------------

.productView {
    padding-top: spacing('base');
}

.page-type-product {
    .body {
        .container.container-2 {
            max-width: 1410px;
        }
    }
}

// Images
// -----------------------------------------------------------------------------
.productView-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
}

.productView-img-container {
    @include lazy-loaded-padding('product_size');
    margin: auto;
    position: relative;
    width: 100%;

    @include smax-m {
        max-width: get-width(stencilString('product_size'));
    }

    img {
        @include lazy-loaded-img;
        /* Object-fit polyfill */
        font-family: 'object-fit: contain;';
        height: 100%;
        object-fit: contain;
        width: 100%;
    }
}

.productView-thumbnails {
    &[data-slick] {
        opacity: 0;

        &.slick-initialized {
            opacity: 1;
        }
    }

    .slick-next {
        right: 0;
    }

    .slick-prev {
        left: 0;
    }

    img {
        @include lazy-loaded-img;
        /* Object-fit polyfill */
        font-family: 'object-fit: contain;';
        margin: 0;
        object-fit: contain;
        position: relative;
        width: get-width(stencilString('productview_thumb_size'));

        @include smax-m {
            width: 100px;
        }
    }
}

.productView-thumbnail {
    @include grid-column(3);
    padding: spacing('quarter');
    text-align: center;

    @include breakpoint('large') {
        width: 20%;
    }
}

.productView-thumbnail-link {
    border: container('border');
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    padding: 2px;
    position: relative;
    width: 100%;
}

// Details
// -----------------------------------------------------------------------------

.productView-reviewLink {
    color: stencilColor('color-textSecondary');
    display: inline-block;
    margin-left: spacing('quarter');
    vertical-align: middle;

    &:hover {
        color: stencilColor('color-textSecondary--hover');
    }

    &--new {
        padding: 0;
    }
}

// Details - Product Information
// -----------------------------------------------------------------------------

.productView-info {
    @include clearfix;
    margin-top: spacing('half');

    @include breakpoint('small') {
        margin-top: 0;
    }

    > :first-child {
        @include breakpoint('small') {
            margin-top: spacing('single');
        }
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.productView-info-name,
.productView-info-value {
    float: left;

    @include breakpoint('small') {
        float: none;
    }
}

.productView-info-name {
    clear: both;
    margin-bottom: spacing('eighth');
    margin-right: spacing('quarter');

    @include breakpoint('small') {
        font-family: fontFamily('headingSans');
        font-size: fontSize('smallest');
        font-weight: fontWeight('normal');
    }
}

.productView-info-value {
    margin-bottom: spacing('quarter');

    @include breakpoint('small') {
        margin-bottom: spacing('base');
    }
}

// Details - Product options
// -----------------------------------------------------------------------------
//
// 1. Align the product options list item radios vertically.
// 2. Resetting font due to inline-block whitespace issue.
// 3. File upload button does not properly display in IE if font-size is 0
//
// -----------------------------------------------------------------------------

.productView-options {
    @include clearfix;
    text-align: center;

    @include breakpoint('small') {
        text-align: left;
    }

    .form-input[type='number'] {
        @include breakpoint('small') {
            width: grid-calc(2, $total-columns);
        }
    }

    .form {
        display: inline;

        .add-to-cart-wrapper {
            display: inline;
        }
    }

    input[type='file'] {
        font-size: fontSize('smallest'); // 3
    }

    .form-field {
        font-size: 0; // 2
        margin-bottom: 2rem;

        &--error > .form-inlineMessage {
            font-size: 1rem;
        }

        > .form-checkbox + .form-label {
            display: inline-block;
            margin-left: spacing('single');
            width: auto;

            @include breakpoint('small') {
                margin-left: 0;
                width: 100%;
            }
        }

        > .form-radio + .form-label {
            display: inline-block;
            text-align: justify;
        }

        > .form-label:nth-of-type(2) {
            margin-left: 0;
        }
    }


    .add-to-cart-wallet-buttons {
        margin-top: spacing('half');

        div[data-smart-button-container-id] {
            line-height: 0;
            margin-top: 6px;

            button,
            div {
                width: 100%;
            }
        }

        button.show-more-button {
            color: stencilColor('color-textSecondary');
            display: block;
            margin-top: spacing('quarter');
            padding: spacing('quarter') 0;
            text-align: center;
            text-decoration: underline;
            vertical-align: middle;
            width: 100%;

            &:hover {
                color: stencilColor('color-textSecondary--hover');
            }
        }
    }
}

// Product list (with images)
// -----------------------------------------------------------------------------

.productOptions-list {
    border: $productOptions-list-border;
    list-style: none;
    margin: 0;
    max-height: 400px;
    overflow-y: auto;
}

.productOptions-list-item {
    padding: $productOptions-list-item-padding;

    + .productOptions-list-item {
        border-top: $productOptions-list-item-borderTop;
    }

    .form-label {
        text-align: left;
        top: -2px; // 1
    }
}

.productOptions-list-item-figure,
.productOptions-list-item-content {
    display: table-cell;
    vertical-align: middle;
}

.productOptions-list-item-figure {
    width: $productOptions-list-item-figure-width;
}

.productOptions-list-item-content {
    padding-left: $productOptions-list-item-content-paddingLeft;
}

// Share products
// -----------------------------------------------------------------------------

.shareProduct {
    text-align: center;
}

// EasyZoom settings for zoomable product image
// -----------------------------------------------------------------------------

.productView-image .easyzoom-flyout {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    img {
        max-width: none;
        width: auto;
    }
}

/* Custom Start Product View */
.price-section {
    &.rrp-price--withoutTax,
    &.non-sale-price--withoutTax {
        .price {
            color: #757575;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 100% */
            text-transform: uppercase;

            @include smin-xl {
                font-size: 20px;
            }
        }
    }
}


/* Bulk Discount table */
.custom-bulkPricing-table {
	width: 100%;
	border-collapse: collapse;

	th {
        border: none;
		text-align: center;
        font-size: $fontSize-root - 2;
        font-weight: $fontWeight-medium;
        line-height: 1.3125rem;
        padding: 9px 8px 8px;
		background-color: #d6d6d6;
		color: $color-custom-black;

        @include smin-m {
            font-size: $fontSize-root;
        }

        &.discount-percent {
            background-color: $color-custom-red;
            color: $color-custom-white;
        }
	}
	td {
        font-family: "Open Sans", sans-serif;
		border: 1px solid #d6d6d6;
		padding: 8px;
		text-align: center;
        color: #515C6F;
        font-size: $fontSize-root - 4;
        font-weight: $fontWeight-semibold;
        letter-spacing: 0;
        line-height: 1.1875rem;

        @include smin-m {
            font-size: $fontSize-root - 2;
        }

        &.discount-percent {
            color: $color-custom-red;
        }
	}
}

//
// Chart Review
//----------------------------------------------------------------------------
.reviewChart__list {
    max-width: 345px;

    .reviewChart__item {
        span {
            font-size: 12px;
            color: #232323;
            line-height: 18px;
            letter-spacing: 0.84px;
            font-weight: normal;
        }

        .item-star {
            width: 55px;
            display: inline-block;
        }

        .item-progress {
            flex: 1;
            background-color: #EEEEEE;
            display: block;
            width: 100%;
            height: 15px;
            position: relative;

            .process-percent {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                background-color: #000000;
                width: 0%;
            }
        }

        .item-count {
            width: 40px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        + .reviewChart__item {
            margin-top: 18px;
        }
    }
}

.custom-productReviews {
    border-top: none;
    margin-top: 30px;
    margin-bottom: 0 !important;

    .toggle-title {
        display: none;
    }

    .toggle-content {
        display: block !important;
    }

    .productReviews-list {
        display: flex;
        flex-direction: column;

        .productReview-date {
            font-size: 12px;
            color: #232323;
            letter-spacing: 0.84px;
            line-height: 18px;
            font-weight: 400;
            margin-bottom: 0;
        }

        .productReview-title {
            font-size: 12px;
            color: #232323;
            letter-spacing: 0.84px;
            line-height: 18px;
            font-weight: bold;
        }

        .productReview-body {
            font-size: 12px;
            color: #232323;
            letter-spacing: 0.84px;
            line-height: 18px;
            font-weight: 400;
        }

        .productReview {
            width: 100%;
        }
    }
}

.review-button-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    padding-top: 12px;

    .button + .button {
        margin-top: 10px;
    }
}


/* Stock Indicator */
.productView-info-value.stock-indicator-value {
    font-weight: 600;
    &.in-stock {
        color: green;
    }
    &.availabel-stock {
        color: orange;
    }
    &.contact-stock {
        color: red;
    }
}
