<div class="view-as-group flex flex-center-x">
    <label class="form-label">{{lang 'common.sorter.view'}}</label>
    <div class="view-as-btn">
        <a href="#" id="list-view" data-layout="productGrid--maxCol1" title="List View"></a>
        <a href="#" id="grid-view-3" data-layout="productGrid--maxCol3" title="Grid View 3"></a>
        <a href="#" id="grid-view-4" data-layout="productGrid--maxCol4" title="Grid View 4"></a>

        {{#if theme_settings.show_grid_view_5}}
            <a href="#" id="grid-view-5" data-layout="productGrid--maxCol5" title="Grid View 5"></a>
        {{/if}}
    </div>
</div>