// PRODUCT CAROUSEL
// -----------------------------------------------------------------------------
//
// Purpose: Styles the product carousel component, which basically adds extras to the
// vendor slick carousel, to specifically display product
//
// 1. If there's no JS layout the products out based on the grid.
//
// -----------------------------------------------------------------------------

.productCarousel {
    @include grid-row(
        $behavior: nest
    ); // 1
    min-width: 100%;
    position: relative;
    width: 1px;
}

.productCarousel-slide { // 1
    padding: 0 remCalc(10px);
    .card {
        margin-bottom: 0;

        .card-title {
            overflow-wrap: break-word;
        }
    }
}


/* Custom Start */
.productCarousel {
    margin: 0;

    @include maxWidth(1600px) {
        width: calc(100% - 100px);
        min-width: unset;
        margin-left: auto;
        margin-right: auto;
    }
    .slick-arrow {
        transform: translate(0);
        top: calc((144 / 407)* 100%);
    }

    .slick-list {
        margin-left: -10px;
        margin-right: -10px;
    }
}