// =============================================================================
// CART (CSS)
// =============================================================================
//
// 1. Override server-generated inline-css
//
// -----------------------------------------------------------------------------

// Cart variables
// -----------------------------------------------------------------------------

$cart-item-spacing:                     spacing("single");
$cart-content-padding-right:            4px;

$cart-thumbnail-maxWidth:               remCalc(100px);
$cart-thumbnail-height:                 remCalc(100px);
$cart-thumbnail-maxHeight:              14rem;
$cart-thumbnail-paddingVertical:        0.5rem;

$cart-item-label-offset:                $cart-thumbnail-maxWidth + $cart-item-spacing;
$card-preview-zoom-bottom-offset:       6rem;

//
// Shared styles for additional checkout buttons
// -----------------------------------------------------------------------------

%additionalCheckoutButtons {
    @include clearfix;

    .FloatRight {
        @include clearfix;

        p {
            float: none !important;
            margin: spacing("third") 0;
            text-align: right;
        }

        div {
            float: right;
        }
    }
}

// Cart layout
// -----------------------------------------------------------------------------
//
// 1. On mobile and tablet we need to re-structure the table to appear more like
//    a list, then visually show it as a table on larger screens only.
//
// 2. Hide the table headings on mobile and tablet, show them for larger screens.
//
// -----------------------------------------------------------------------------

.cart {
    display: block; // 1
    margin-bottom: spacing("single");
    width: 100%;

    @include breakpoint("medium") {
        display: table; // 1
    }
}

.cart-header {
    display: none; // 2

    @include breakpoint("medium") {
        display: table-header-group; // 2
        text-align: left;
    }
}

.cart-header-item {
    padding-bottom: spacing("base");

    &:last-child {
        text-align: right;
    }

    @include smin-m {
        &[data-cart-header-item] {
            width: 47.1%;
        }
    
        &[data-cart-header-price] {
            width: 24.5%;
        }

        &.cart-header-quantity {
            padding-left: 6px;
        }
    }
}

.cart-list {
    border-top: container("border");
    display: block; // 1

    @include breakpoint("medium") {
        display: table-row-group; // 1
    }
}

.cart-item {
    border-bottom: container("border");
    clear: both;
    display: block; // 1
    padding: $cart-item-spacing 0;

    @include breakpoint("small") {
        @include clearfix;
        padding-left: grid-calc(3, $total-columns);
    }

    @include breakpoint("medium") {
        display: table-row; // 1
        padding-left: 0;

        &::before,
        &::after {
            display: none;
        }
    }

    @include smax-m {
        padding-bottom: 2.5rem;
    }
}

.cart-item-block {
    display: block; // 1

    @include breakpoint("medium") {
        display: table-cell; // 1
    }

    .definitionList {
        margin-bottom: spacing("quarter");
    }
}

.cart-item-figure {

    @include cart-item-lazy-load-img-placeholder;
    float: left;
    margin-bottom: $cart-item-spacing;
    position: relative;
    text-align: center;
    width: grid-calc(4, $total-columns);

    @include breakpoint("small") {
        // height: auto;
        margin-bottom: 0;
        margin-left: -(grid-calc(4, $total-columns));
        width: grid-calc(4, $total-columns);
    }

    @include breakpoint("medium") {
        float: none;
        padding: $cart-thumbnail-paddingVertical 0;
        width: grid-calc(1, $total-columns);
    }
}

.cart-item-fixed-image {
    width: 100%;
}

.cart-item-image {
    max-height: $cart-thumbnail-maxHeight;
    max-width: get-width(stencilString("productthumb_size"));

    @include breakpoint("medium") {
        margin-left: 0;
    }
    @include smax-xxs {
        max-width: unset !important;
        width: 100%;
    }
}

.cart-item-title {
    display: table-cell;
    height: $cart-thumbnail-height;
    padding-left: $cart-item-spacing;

    @include breakpoint("small") {
        display: block;
        height: auto;
        margin-bottom: $cart-item-spacing;
        overflow: hidden;
    }

    @include breakpoint("medium") {
        display: table-cell;
        padding: $cart-item-spacing;
    }
}

.cart-item-info {
    clear: both;
    width: 100%;

    @include breakpoint("small") {
        clear: none;
        float: left;
        overflow: hidden;
        width: grid-calc(4, $total-columns);

        + .cart-item-info {
            margin-top: 0;
        }
    }

    @include breakpoint("medium") {
        float: none;
        width: grid-calc(2, $total-columns);

        &:last-child {
            text-align: right;
            transform: translateX(4px);
        }
    }
}


// Cart content
// -----------------------------------------------------------------------------
.cart-content-padding-right {
    padding-right: $cart-content-padding-right;
}

.cart-header-quantity,
.cart-item-quantity {
    text-align: left;    
    position: relative;
}

.cart-item-quantity {
    .form-increment {
        margin-left: 0px;
        width: fit-content;
        .button {
            min-width: unset;
            min-height: unset;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #E4E5E8;
            border: none;

            .icon {
                width: 12px;
                height: 12px;
                color: #727C8E;
                position: absolute;
                top: 50%;
                left: calc(50% + 0.4px);
                transform: translate(-50%, -50%);
            }
            &:hover {
                &::after {
                    background-color: $color-custom-red;
                }
                .icon {
                    svg {
                        fill: #ffffff;
                    }
                }
            }
        }

        input {
            color: #727C8E;
            font-weight: 500;
            font-size: 15px !important;
        }

        .form-input--incrementTotal {
            font-size: 13px;
        }
        @include smax-xs {
            width: 66.66667%;
            margin-left: calc(33.3333% + 20px);
        }
    }

}

.cart-item-label {
    color: stencilColor("color-textBase");
    float: left;
    margin-bottom: spacing("quarter");
    text-align: right;
    width: grid-calc(4, $total-columns);
    font-size: 14px;
    font-weight: 600;

    @include breakpoint("small") {
        display: block;
        padding-left: $cart-item-spacing;
        text-align: left;
        width: 100%;
    }

    @include breakpoint("medium") {
        display: none;
    }
}

.cart-item-value {
    padding-left: $cart-item-spacing;

    @include breakpoint("medium") {
        padding-left: 0;
    }
}

.cart-item-brand {
    color: #515C6F;
    font-size: 14px;
    letter-spacing: 0.98px;
    line-height: 21px;
    font-weight: $fontWeight-normal;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
}

.cart-item-name {
    display: inline-block;
    font-size: 14px;
    margin: 0;
    color: #232323;
    letter-spacing: 0.98px;
    line-height: 21px;
    font-weight: $fontWeight-bold;

    &__label {
        display: inline-block;
        text-decoration: none;
    }

    + .definitionList {
        margin-top: spacing("quarter");
    }
}

.cart-item-options--giftWrapping {
    margin-top: spacing("half") + spacing("quarter");

    .cart-item-option-description {
        color: $body-font-color;
    }
}

.cart-remove {
    background-color: container("fill", "dark");
    border-radius: 50%;
    cursor: pointer;
    float: right;
    height: remCalc(18px);
    margin-top: remCalc(2px);
    padding: spacing("eighth");
    transition: background-color 0.15s ease;
    width: remCalc(18px);

    @include breakpoint("small") {
        margin-left: spacing("base");
    }

    &.cart-remove--spacer {
        visibility: hidden;
    }

    > svg {
        fill: stencilColor("icon-color");
    }
}


// Cart totals
// -----------------------------------------------------------------------------

.cart-totals {
    @include u-listBullets("none");
    margin-bottom: $cart-item-spacing;
    text-align: right;
    width: 100%;

    @include breakpoint("small") {
        float: right;
        width: grid-calc(9, $total-columns);
    }

    @include breakpoint("medium") {
        margin-bottom: spacing("base");
        width: grid-calc(7, $total-columns);
    }

    @include breakpoint("large") {
        width: grid-calc(5, $total-columns);
    }
}

.cart-total {
    @include clearfix;
    border-bottom: 0;

    @include breakpoint("medium") {
        + .cart-total {
            border-top: container("border");
        }
    }

    .form-input {
        display: inline-block;
        height: remCalc(32px);
        padding: spacing("third");
        vertical-align: top;
        width: grid-calc(9, $total-columns);
    }

    .form-select {
        background-position: right remCalc(5px) center;
        background-size: remCalc(20px) remCalc(20px);
        height: remCalc(32px);
        margin-bottom: spacing("half");
        padding: 0 spacing("half");
    }

    .form-inlineMessage {
        text-align: left;
    }
}

.cart-total-label {
    color: stencilColor("color-textSecondary");
    width: grid-calc(4, $total-columns);

    @include breakpoint("small") {
        width: grid-calc(6, $total-columns);
    }

    @include breakpoint("medium") {
        display: block;
        padding-left: 0;
        text-align: left;
    }
}

.cart-total-value {
    text-align: left;

    @include breakpoint("small") {
        text-align: right;
    }

    @include breakpoint("medium") {
        width: grid-calc(6, $total-columns);
    }
}

.cart-total-label,
.cart-total-value {
    float: left;
    padding: spacing("third") 0 spacing("third") $cart-item-spacing;

    @include breakpoint("medium") {
        padding: spacing("base") 0;
    }
}

.cart-total-grandTotal {
    font-family: fontFamily("headingSans");
    font-size: fontSize("small");
    padding-bottom: spacing("eighth");
    padding-top: spacing("eighth");
    position: relative;

    @include breakpoint("medium") {
        padding: spacing("base") 0;
        top: -(spacing("sixth"));
    }
    @include smax-xs {
        padding-top: 7px;
    }
}


// Cart actions
// -----------------------------------------------------------------------------

.coupon-code-add,
.coupon-code-cancel,
.shipping-estimate-show,
.gift-certificate-add,
.gift-certificate-cancel {
    color: stencilColor("color-textSecondary");
    padding: 0;
    text-decoration: underline;
    transition: color 0.15s ease;

    &:hover {
        color: stencilColor("color-textSecondary--hover");
    }
}

.coupon-code-cancel,
.shipping-estimate-show[aria-expanded="true"] {
    font-style: italic;
}

.coupon-form,
.cart-gift-certificate-form {
    @include clearfix;
    font-size: 0;
    margin-bottom: spacing("base");

    .form-input,
    .button {
        float: left;
    }

    .form-input {
        width: 78%;
    }

    .button {
        margin: 0 0 0 2%;
        padding-left: spacing("half");
        padding-right: spacing("half");
        width: 20%;
    }
}

.estimator-form {
    margin-bottom: 0;

    .form-input {
        margin-bottom: spacing("half");
        width: 100%;
    }

    .button--primary {
        width: 60%;
    }
}

.estimator-form-label {
    clear: both;
    float: left;
    font-weight: fontWeight("normal");
    margin-bottom: 0;

    .form-label {
        line-height: remCalc(32px);
        margin-bottom: 0;
    }
}

.estimator-form-label-text {
    margin-left: remCalc(10px);
}

.estimator-form-input {
    float: right;
    margin-bottom: 1em;
    width: 60%;

    .form-input,
    .form-select {
        margin-bottom: 0;
    }
}

.estimator-form-input--price {
    width: 30%;
}

.estimator-form-row {
    @include clearfix;
}

.estimator-form-toggleUPSRate {
    display: block;
    margin-bottom: 1em;
}

.cart-actions {
    @include clearfix;
    clear: both;

    .button {
        display: block;
        margin-bottom: 0;

        @include breakpoint("small") {
            display: inline-block;
            float: right;
        }
    }

    .checkoutMultiple {
        clear: right;
        display: block;
        float: right;
        padding-top: spacing("quarter");
    }
}

.cart-additionalCheckoutButtons {
    @extend %additionalCheckoutButtons;
}

// Cart Preview
// -----------------------------------------------------------------------------
//
// 1. Need to vertically align a block of text
//
// -----------------------------------------------------------------------------

.previewCartWrapper {
    max-height: calc(100vh - #{$card-preview-zoom-bottom-offset});
    overflow: auto;
    padding: 10px 25px;
}

.previewCartList {
    @include u-listReset;
    border-collapse: collapse;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.previewCartItem {
    @include grid-row;
    display: table-row;
    line-height: lineHeight("smaller");

    + .previewCartItem {
        border-top: container("border");
    }
}

.previewCartItem-image,
.previewCartItem-content {
    display: table-cell; // 1
    vertical-align: middle;
}

.previewCartItem-image {
    @include grid-column(4, $float: false);

    @include lazy-loaded-padding("productthumb_size");
    padding: 0;
    position: relative;
    text-align: center;

    img {
        @include lazy-loaded-img;
        max-height: 90%;
    }

    &::after {
        @include breakpoint("xxsmall") {
            padding-bottom: 75%;
        }

        @include breakpoint("xsmall") {
            padding-bottom: 100%;
        }
    }
}

.previewCartItem-content {
    @include grid-column(8, $float: false);
    padding-left: 0;
}

.previewCartItem-name {
    margin: 0;
    text-transform: none;

    > a {
        text-decoration: none;
    }
}

.previewCartItem-brand,
.previewCartItem-name {
    margin-bottom: spacing("eighth");
}

.previewCartItem-brand,
.previewCartItem-price {
    color: $small-font-color;
    display: inline-block;
    font-size: fontSize("smallest");
}

.previewCartAction {
    @include grid-row;
    border-top: container("border");
    display: block;

    @include breakpoint("xxsmall") {
        padding: spacing("half") spacing("quarter");
    }

    @include breakpoint("xsmall") {
        padding: spacing("single") spacing("half");
    }

    .button {
        margin: 0;
        padding-left: spacing("half");
        padding-right: spacing("half");
        width: 100%;
    }
}

.previewCartAction-checkout,
.previewCartAction-viewCart {
    @include grid-column(6);

    &.previewCartAction-viewCart--sole {
        @include grid-column($columns: 6, $center: true);
    }
}

.previewCartAction-checkout {
    padding-right: spacing("quarter");
}

.previewCartAction-checkoutMultiple {
    clear: both;
    padding-left: spacing("half");
    padding-top: spacing("quarter");
}

.previewCartAction-viewCart {
    padding-left: spacing("quarter");
}

.previewCart-emptyBody {
    padding: spacing("double");
    text-align: center;
}

.previewCart-additionalCheckoutButtons {
    @extend %additionalCheckoutButtons;
    padding-bottom: spacing("single");
    padding-right: spacing("single");
}

// Custom cart page
.page-type-cart {
    .body {
        padding-bottom: 90px;
    }

    .container.container-2 {
        max-width: 1424px;

        @include smin-xl {
            padding-right: 23px;
        }
    }

    .breadcrumb-wrapper {
        margin-top: 14px;
        .breadcrumbs {
            margin-bottom: 0px;
        }
    }
    .page-heading {
        text-align: center;
        text-transform: uppercase;
        font-size: 34px;
        color: #2E2E22;
        font-weight: 700;
        margin-top: 4px;
        margin-bottom: 44px;
        line-height: 21px;

        @include smax-s {
            font-size: 24px;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        span {
            font-size: 16px;
            color: #232323;
            font-weight: 500;
        }
    }
    .cart {
        margin-bottom: 10px;
        &-header {
            &-item {
                font-size: 14px;
                text-transform: uppercase;
                color: $color-custom-black;
                padding-bottom: 6px;
                font-weight: $fontWeight-bold;
                letter-spacing: 0.98px;
                line-height: 24px;
            }
        }
        &-list {
            .cart-item {
                &-figure {
                    @include smin-m {
                        width: 10.33333%;
                        padding-bottom: 35px;
                        padding-top: 32px;
                    }
                }
                &-image {
                    max-width: 132px;
                }
                &-title {
                    font-size: 14px;
                }

                &-block:not(.cart-item-figure) {
                    padding-bottom: 14px;
                    padding-top: 0;
                }

                &-info {
                    font-size: 18px;
                    color: #232323;
                    font-weight: 500;
                    margin-bottom: 10px;
                    &:first-child() {
                        margin-top: 10px;
                    }
                    .cart-remove {
                        width: 24px;
                        height: 24px;
                        margin-top: 0px;
                        background-color: unset;
                        padding: 0px;
                        position: relative;
                        svg {
                            fill: $color-custom-red;
                        }
                        &:hover {
                            svg {
                                fill: #757575;
                            }
                        }
                    }
                    [data-item-edit] {
                        font-family: 'Open Sans', sans-serif;
                        position: absolute;
                        font-size: 11px;
                        line-height: 20px;
                        letter-spacing: 0.77px;
                        margin-top: 20px;
                        margin-left: 15px;
                        text-decoration: none;

                        @include smax-m {
                            margin-top: 10px;
                        }
                        @include smax-xs {
                            margin-top: 10px;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            margin-top: 0px;
                        }
                    }
                    .cart-item-value {
                        margin-bottom: 5px;
                    }
                    .cart-item-label {
                        margin-bottom: 0px;
                        line-height: 26px;
                    }
                }
            }
        }
    }

    .form-input--incrementTotal {
        width: remCalc(26px);
    }

    [data-cart-totals] {
        .cart-totals {
            max-width: 387px;
            margin-top: 5px;
            margin-bottom: 13px;

            .cart-total {
                &-label {
                    font-size: 14px;
                    font-weight: 700;
                    color: #232323;
                    padding-bottom: 10px;
                    padding-top: 11px;
                    letter-spacing: 0.98px;
                    line-height: 1.3;
                }
                &-value {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    color: #515C6F;
                    font-weight: $fontWeight-normal;
                    padding-bottom: 12px;
                    letter-spacing: 0;
                    padding-bottom: 10px;
                    padding-top: 11px;
                    line-height: 1.3;

                    button {
                        color: #515C6F;
                        text-underline-offset: 3px;
                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
                .coupon-code,
                .gift-certificate-code {
                    .form-input {
                        width: 60%;
                        float: right;
                    }
                    .button {
                        margin-left: 0px;
                        margin-top: 13px;
                        width: 60%;
                        float: right;
                    }
                }
            }
            @include smax-m {
                max-width: 370px;
                .cart-total {
                    &-label {
                        text-align: left;
                    }
                    &-value {
                        width: 50%;
                        text-align: right;
                    }
                    .estimator-form {
                        &-label {
                            padding-left: 19.5px;
                        }
                    }
                }
            }
            @include smax-xs {
                .cart-total {
                    &-value {
                        width: 66.6666%;
                    }
                }
            }
        }
    }
    .cart-actions {
        display: flex;
        justify-content: flex-end;

        .button {
            min-width: 193px;
            font-size: 18px;
            letter-spacing: 0;            
        }

        .b2b-cart-to-quote {
            background-color: $color-custom-white !important;
            color: $color-custom-red !important;

            &:hover {
                color: $color-custom-white !important;
                &::after {
                    background-color: $color-custom-red !important;
                }
            }
        }

        @include smax-xs {
            .b2b-cart-to-quote {
                margin-top: 13px;
                width: 100%;
                margin-right: 0px;
                border-radius: unset;
            }
        }
    }
}
.configure-product-modal {
    @include smax-xs {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    #CartEditProductFieldsForm {
        .select-option-label {
            font-size: 10px;
            font-weight: 700;
            color: #333333;
            margin-bottom: 10px;
        }
    
        .form-field:not(.form-field--increments) {
            background-color: #F1F0F0;
            padding: 12px 15px 12px 15px;
    
            .form-label {
                font-size: 12px;
                text-transform: uppercase;
                color: #333333;
                font-weight: 700;
                position: relative;
                margin-bottom: 0px;
    
                small {
                    margin-left: 2px;
                    color: $color-primary;
                    font-weight: 800;
                }
    
                .icon {
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
    
                    svg {
                        color: $color-primary;
                        stroke-width: 2px;
                        transition: transform 0.2s ease-in;
                    }
                }
                &::before {
                    border: solid #BBB;
                    border-width: 2px;
                }
    
                &::after {
                    transform: scale(0.9);
                }
            }
    
            [data-custom-dropdown-content] {
                overflow: hidden;
    
                .form-option {
                    margin-right: 0px;
                    margin-bottom: 20px;
                    width: 100%;
                    text-align: center;
    
                    .form-option-expanded {
                        display: none;
                    }
                }
            }
    
            &.is-open {
                padding-bottom: 0px;
    
                [data-custom-dropdown-content] {
                    margin-top: 24px;
                }
    
                .form-label {
                    .icon {
                        svg {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
    
            .productOptions-list {
                margin-bottom: 20px;
            }
        }
    
        .form-field[data-product-attribute="swatch"] {
            .form-option-wrapper {
                display: inline-flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: flex-start;
                justify-content: flex-end;
                font-size: 10px;
                margin-bottom: 14.8px;
    
                .form-option-variant--color,
                .form-option-variant--pattern {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-size: cover;
                }
    
                .form-option-swatch-label {
                    display: block;
                    width: 100%;
                    padding-left: 19px;
                    font-weight: 600;
                    position: relative;
    
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        transition: all 50ms ease-out;
                        background-color: white;
                        height: 1.23077rem;
                        left: -4px;
                        top: 0;
                        width: 1.23077rem;
                        border: solid #BBB;
                        border-width: 2px;
                        border-radius: 50%;
                    }
    
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        transition: all 50ms ease-out;
                        height: 1.07692rem;
                        left: -3px;
                        opacity: 0;
                        top: 1px;
                        transform: scale(0);
                        width: 1.07692rem;
                        border-radius: 1.07692rem;
                        background: rgba(51, 51, 51, 0.999);
                        border: 3px solid white;
                        background-color: #0075FF;
                    }
    
                    @include smax-s {
                        text-align: left;
                    }
                }
    
                .form-radio:checked+.form-option-swatch-label::after {
                    opacity: 1;
                    transform: scale(0.9);
                }
    
                .form-option-swatch {
                    margin-right: 0px;
                    width: 100%;
                    position: relative;
                    margin-bottom: 7px;
    
                    &::after {
                        content: "";
                        display: block;
                        padding-bottom: 100%;
                    }
                }
            }
    
            .form-option-row {
                @media (max-width: 1200px) and (min-width: 1025px) {
                    .form-option-wrapper {
                        width: 25%;
                    }
                }
            }
        }
    
        .form-field[data-product-attribute="set-radio"] {
            [data-custom-dropdown-content] {
                .form-label {
                    margin-bottom: 20px;
    
                    &::before {
                        top: 1px;
                    }
    
                    &::after {
                        top: 2px;
                        background-color: #0075FF;
                    }
                }
            }
        }
    
        .form-field[data-product-attribute="set-select"] {
            padding-top: 6.5px;
            padding-bottom: 6.5px;
    
            &.field-set-select {
                .form-label {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
    
                    .form-select {
                        font-size: 13px;
                        color: $color-textBase;
                        max-width: unset;
                        margin-left: 5px;
                        border: none;
                        background-color: #F1F0F0;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 58.026 58.026" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M29.013 46.019c-1.1 0-2.1-.4-2.9-1.2l-25-26c-1.5-1.6-1.5-4.1.1-5.7 1.6-1.5 4.1-1.5 5.7.1l22.1 23 22.1-23c1.5-1.6 4.1-1.6 5.7-.1s1.6 4.1.1 5.7l-25 26c-.8.8-1.8 1.2-2.9 1.2z" fill="%23ed3f36" opacity="1" data-original="%23ed3f36" class=""></path></g></svg>');
                        background-repeat: no-repeat;
                        background-size: 16px;
                        background-position: right 0px top 0.53846rem;
                    }
                }
            }
        }
    
        .form-field[data-product-attribute="set-rectangle"] {
            [data-custom-dropdown-content] {
                .form-option {
                    padding: 6px 0;
                }
            }
        }
    
        #add-to-cart-wrapper {
            .add-to-cart-buttons {
                width: 100%;
                padding-left: 0px;
                padding-right: 0px;
                margin-bottom: 15px;
    
                .form-action {
                    .button {
                        min-height: 40px;
                    }
                }
            }
        }
    
        .custom-actions {
            display: block;
            width: 100%;
    
            &-item {
                .button {
                    background-color: #E9E9E9;
                    border: none;
                    min-height: 35px;
                    padding-left: 18px;
    
                    &::before {
                        background: transparent;
                        border-right: var(--border-offset) solid transparent;
                        border-bottom: var(--border-offset) solid #333333;
                        border-bottom-color: #333333;
                    }
    
                    .text {
                        color: #333333;
                        font-weight: 600;
                        font-size: 11px;
    
                        .icon {
                            width: 24px;
                            height: 24px;
                            margin-right: 13px;
    
                            svg {
                                fill: #9F9F9F;
                            }
                        }
                    }
    
                    &:hover,
                    &:focus,
                    &:active {
                        .text {
                            color: #FDFDFD;
                        }
    
                        .icon {
                            svg {
                                fill: #A6A6A6;
                            }
                        }
                    }
    
                    .compare-action-input {
                        opacity: 0;
                    }
    
                    &.btn-active {
                        .text {
                            color: #FDFDFD;
                        }
                    }
                }
            }
    
            .b2b-add-to-list,
            .b2b-add-to-quote {
                padding: 0px 2px;
                border: none;
                margin-right: 0px;
                background-color: transparent !important;
    
                .button {
                    margin-bottom: 0px;
                    .text {
                        display: block;
                        height: 100%;
                        width: 100%;
                        line-height: 35px;
                    }
                }
    
                @include smin-xs {
                    padding: 0px 5px;
                }
            }
    
            .b2b-add-to-quote {
                order: 1;
            }
    
            .ask-expert-action {
                order: 2;
            }
    
            .product-compare-action {
                order: 3;
                @include smax-m {
                    display: none;
                }
            }
        }
    
        .form-actions {
            .button {
                min-height: 40px;
                min-width: 120px;
            }
        }
        
        [data-product-attributes-wrapper] {
            height: fit-content !important;
        }
    }
}
