// =============================================================================
// PRODUCT GRID (CSS)
// =============================================================================


// Product grid view
// -----------------------------------------------------------------------------
//
// 1. Re-set the font-size, as we're reducing it to 0 in the .products class.
//
// -----------------------------------------------------------------------------

.productGrid {

    @include u-listBullets("none");
    @include grid-row($behavior: "nest");
    font-size: 0; // 1
    margin-bottom: spacing("single");

    .product {
        @include grid-column(6, $float: none);
        display: inline-block;
        font-size: fontSize("base"); // 1
        vertical-align: top;

        @include breakpoint("small") {
            width: grid-calc(4, $total-columns);
        }

        @include breakpoint("medium") {
            width: grid-calc(3, $total-columns);
        }
    }
}


// Product when sidebar is present
// -----------------------------------------------------------------------------
//
// 1. When the sidebar is visible, reduce products to 3 across.
//
// -----------------------------------------------------------------------------

.page-sidebar + .page-content {
    .productGrid {
        .product { // 1
            width: grid-calc(4, $total-columns);

            @include smax-s {
                width: grid-calc(6, $total-columns);
            }

            @include smax-xs {
                width: grid-calc(12, $total-columns);
            }

            .productGrid--maxCol1 & {
                width: grid-calc(12, $total-columns);
            }

            .productGrid--maxCol4 & {
                width: grid-calc(3, $total-columns);

                @include smax-m {
                    width: grid-calc(4, $total-columns);
                }

                @include smax-s {
                    width: grid-calc(6, $total-columns);
                }

                @include smax-xs {
                    width: grid-calc(12, $total-columns);
                }
            }
            
            .productGrid--maxCol5 & {
                width: grid-calc(2.4, $total-columns);
            }
        }
    }

}
