// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================

// Product view layout
// -----------------------------------------------------------------------------

.productView {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include breakpoint('medium') {
        display: flex;
        flex-direction: row;
    }

    .modal & {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.productView--quickView {
    .socialLinks-item--print {
        display: none;
    }
}

.productView-images {
    @include grid-column(12);
    padding-left: spacing('base');
    padding-right: spacing('base');

    @include breakpoint('medium') {
        width: grid-calc(6, $total-columns);
    }
}

.productView-details {
    @include grid-column(12);
    padding-left: 0;
    padding-right: 0;
    
    @include breakpoint('medium') {
        clear: right;
        float: right;
        width: grid-calc(6, $total-columns);
    }

    .productView--quickView & {
        position: relative;
    }

    &.product-data {
        order: -1;
    }
}

.productView-description {
    @include grid-column(12);
    padding-left: 0;
    padding-right: 0;
    position: relative;
    z-index: 1;
    margin-top: 20px !important;


    .productView-title {
        border-bottom: container('border');
        margin-bottom: spacing('base');
        padding-left: spacing('base');
        padding-right: spacing('base');
    }

    .productView-description {
        @include breakpoint('medium') {
            clear: both;
            float: none;
            width: 100%;
        }
    }
}


.page-product {
    display: flex;
    flex-direction: column;

    .product-view-bottom {
        .section-productRelated {
            padding-top: 32px;

            @include smax-s  {
                padding-top: 0;
            }

            .productRelatedv__heading {
                margin-bottom: 60px;
            }
        }

        .productCarousel {
            .productCarousel-slide {
                padding: 0 15px;
            }

            .slick-list {
                padding-bottom: 20px;
                margin: 0 -15px;
            }
        }

        @include smax-xs {
            .productCarousel {
                .slick-arrow {
                    top: 40%;
                    transform: translateY(-50%);

                    &.slick-prev {
                        left: 0;
                    }

                    &.slick-next {
                        right: 0;
                    }
                }
            }
        }
    }
}

body.page-type-product {
    .breadcrumbs {
        margin-bottom: 8px;
    }
}

.productView:not(.custom-quickShop) {
    @include smin-m {
        @include  flex-layout(2, 32px);
    }

    .custom-productView-left {
        @include smin-m {
            max-width: 674px;
        }
        
        .productView-images {
            position: sticky;
            top: 90px;
            padding-left: 0;
            padding-right: 0;
            .productView-image {
                border-color: #D8D8D8;
                border-radius: 0;

                @include smax-s {
                    pointer-events: none;
                }
            }

            .productView-img-container {
                border: 1px solid #EFEFEF;
            }

            .productView-thumbnail {
                .productView-thumbnail-link {
                    border-radius: 0;
                    border-color: #D8D8D8;

                    &.is-active {
                        border-color: #000000;
                    }
                }
            }

            .productView-thumbnail-wrapper {
                width: 100%;
                max-width: 410px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 16px;

                @include smax-xs {
                    max-width: calc(100% - 60px);
                }

                .slick-arrow {
                    background-color: transparent;
                    border: none;

                    &.slick-next {
                        right: -42px;
                        &::before {
                            @include carousel-arrow-color( $slick-arrow-color2, "next");
                        }

                        &:hover {
                            &::before {
                                @include carousel-arrow-color($slick-arrow-color-hover2,  "next")
                            }
                        }
                    }

                    &.slick-prev {
                        left: -42px;

                        &::before {
                            @include carousel-arrow-color( $slick-arrow-color2, "prev");
                        }

                        &:hover {
                            &::before {
                                @include carousel-arrow-color($slick-arrow-color-hover2,  "prev")
                            }
                        }
                    }
                }
            }

            @include smin-m {
                width: 100%;

                .productView-thumbnails {
                    .slick-list {
                        margin-left: -12px;
                        margin-right: -12px;
                    }

                    .productView-thumbnail {
                        height: 146px;

                        .productView-thumbnail-link {
                            display: block;
                            height: 100%;
                            padding: 0;

                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }
                }

                .productView-img-container {
                    &::after {
                        padding-bottom: 100%;
                    }
                }
            }
        }
    }

    .custom-productView-right {
        position: relative;

        @include smin-m {
            max-width: 673px;
        }

        .productView-details {
            @include smin-m {
                width: 100%;
            }

            .productView-product {
                .productView-rating {
                    margin-top: 8px;
                    .icon {
                        width: 15px;
                        height: 15px;

                        & + .icon {
                            margin-left: 1px;
                        }

                        &.icon--arrow-down {
                            width: 9px;
                            svg {
                                fill: $color-custom-black;
                            }
                        }
                    }

                    .viewReviewsContent__button {
                        font-family: "Open Sans", sans-serif;
                        font-weight: $fontWeight-normal;
                        color: $color-custom-black;
                        letter-spacing: 0.84px;
                        font-size: 12px;
                        line-height: 17px;
                        text-decoration: none;
                        margin-left: 4px;
                    }
                }

                .productView-brand {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    display: inline-block;
                    width: fit-content;
                    margin: 0;
                    max-width: 100px;
                    
                    @include smin-l {
                        max-width: 173px;
                        right: -4px;
                        top: -4px;
                    }
                }

                .productView-title {
                    margin: 0;
                    color: #2E2E22;
                    font-size: 24px;
                    line-height: 1.2;
                    letter-spacing: 0;
                    font-weight: $fontWeight-bold;
                    text-transform: uppercase;
                    max-width: calc(100% - 110px);

                    @include smin-m {
                        font-size: 34px;
                        line-height: 48px;
                    }

                    @include smin-l {
                        max-width: calc(100% - 180px);
                    }
                }

                .productView-price {
                    margin-bottom: 4px;
                    display: flex;
                    flex-wrap: wrap;

                    .price-section.rrp-price--withoutTax .price, .price-section.non-sale-price--withoutTax .price {
                        color: #909090;
                        font-weight: 400;
                        margin-right: 14px;
                    }

                    .price {
                        font-family: 'DM Sans', sans-serif;
                        font-style: normal;
                        line-height: 20px;
                        text-transform: uppercase;
                        color: #000000;
                        font-weight: 700;
                        font-size: 40px;

                        @include smax-m{
                            font-size: 24px;
                        }
                    }
                }
            }

            .productView-options {
                [data-product-option-change] {
                    .form-field {
                        margin-bottom: 0;

                        > .form-label {
                            font-family: "Open Sans", sans-serif;
                            font-weight: $fontWeight-normal;
                            color: $color-custom-black;
                            letter-spacing: 0.84px;
                            font-size: 12px;
                            line-height: 17px;
                            font-weight: 400;
                            text-transform: uppercase;
                            margin-top: 20px;
                            margin-bottom: 12px;
                        }
                    }

                    .form-option-wrapper {
                        .form-option {
                            border: 2px solid #D6D6D6;
                            padding: 5px;
                            border-radius: 8px;
                            min-width: 72px;
                            text-align: center;

                            .form-option-variant {
                                color: $color-custom-black;
                                font-size: $fontSize-root - 1;
                                line-height: 23px;
                                letter-spacing: 0.6px;
                                text-align: center;
                            }
                        }

                        .form-radio:checked+.form-option {
                            box-shadow: none;

                            .form-option-variant {
                                color: $color-custom-red;
                            }
                        }

                        & + .form-option-wrapper {
                            margin-left: 3px;
                        }
                    }
                }

                .productView-price {
                    margin-top: 12px;
                    margin-bottom: 17px;

                    .customPrice__wrapper {
                        justify-content: flex-start;

                        .price-section {
                            padding-left: 0;
                            padding-right: 0;

                            span {
                                font-size: inherit;
                                font-weight: inherit;
                            }

                            &--withoutTax {
                                font-family: $body-font-family;
                                color: $color-custom-black;
                                font-size: 26px;
                                line-height: 24px;
                                font-weight: $fontWeight-medium;
                                letter-spacing: 0px;
                            }

                            &--withTax {
                                font-size: 12px;
                                letter-spacing: 0.84px;
                                line-height: 2;
                                font-weight: $fontWeight-normal;
                                color: $color-custom-black;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}


.form-field--increments {
    border-radius: 4px;
    background: transparent;
    width: 175px;
    .form-increment {
        &[data-quantity-change] {
            display: flex;
            align-items: center;
            .button {
                height: 42px;
                width: 53px;
                min-width: unset;
                background-color: #ffffff;
                border-radius: 4px;
                border: 1px solid #444444;

                @include smax-xl {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                svg {
                    fill: #000000;
                    stroke: #000000;
                }

                &:hover {
                    svg {
                        fill: #ffffff;
                        stroke: #ffffff;
                    }
                }
            }

            .card-form-incrementTotal {
                background-color: transparent;
                color: #000000;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                text-transform: uppercase;
                flex: 1;

                @include smax-xl {
                    font-size: 14px;
                    line-height: 1.2;
                }
            }
        }
    }
}
