<div class="homeBanner custom-animate" data-section-load="animation">
    <div class="container container-2">
        <div class="homeBanner__list">
            <div class="homeBanner__item skeleton-loader">
                <a href="#" class="homeBanner__image hover-image shine-effect">
                    <img class="lazyload" src="" data-src="/product_images/uploaded_images/home-banner-red-1.png" alt="Banner Image 1">
                </a>

                <div class="homeBanner__content">
                    <h2 class="title" data-step-animate="2">15%<span>OFF</span></h2>
                    <p class="text" data-step-animate="3">RedStag Cutting Discs</p>
                    <a href="#" class="button uppercase button--secondary button--small" data-step-animate="4">Shop Now</a>
                </div>
            </div>
            <div class="homeBanner__item skeleton-loader">
                <a href="#" class="homeBanner__image hover-image shine-effect">
                    <img class="lazyload" src="" data-src="/product_images/uploaded_images/home-banner-red-2.png" alt="Banner Image 2">
                </a>

                <div class="homeBanner__content">
                    <h2 class="title" data-step-animate="3">3<span>FOR</span>2</h2>
                    <p class="text" data-step-animate="4">3FOR2 WD‑40® Multi-use Product Aersol</p>
                    <a href="#" class="button uppercase button--secondary button--small" data-step-animate="5">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>