<div class="bannerText custom-animation" data-section-load="animation">
    <div class="container container--full">
        <div class="bannerText__list bannerText__list--top">
            <div class="bannerText__item skeleton-loader hover-image shine-effect">
                <a href="#" class="bannerText__image" data-step-animate="1">
                    <img src="/product_images/uploaded_images/home-banner-1.jpg" alt="Banner Hand Tools">
                </a>
                <div class="bannerText__content" data-step-animate="1">
                    <p class="text">Shop All</p>
                    <h2 class="title">Hand Tools</h2>
                </div>
            </div>
            <div class="bannerText__item skeleton-loader hover-image shine-effect">
                <a href="#" class="bannerText__image" data-step-animate="2">
                    <img src="/product_images/uploaded_images/home-banner-2.jpg" alt="Banner CUTTING & DRILLING">
                </a>
                <div class="bannerText__content" data-step-animate="2">
                    <p class="text">Shop All</p>
                    <h2 class="title">CUTTING & DRILLING</h2>
                </div>
            </div>
            <div class="bannerText__item skeleton-loader hover-image shine-effect">
                <a href="#" class="bannerText__image" data-step-animate="3">
                    <img src="/product_images/uploaded_images/home-banner-3.jpg" alt="Banner ROAD MARKING">
                </a>
                <div class="bannerText__content" data-step-animate="3">
                    <p class="text">Shop All</p>
                    <h2 class="title">ROAD MARKING</h2>
                </div>
            </div>
            <div class="bannerText__item skeleton-loader hover-image shine-effect">
                <a href="#" class="bannerText__image" data-step-animate="4">
                    <img src="/product_images/uploaded_images/home-banner-4.jpg" alt="Banner Traffic Safety">
                </a>
                <div class="bannerText__content" data-step-animate="4">
                    <p class="text">Shop All</p>
                    <h2 class="title">Traffic Safety</h2>
                </div>
            </div>
        </div>
        <div class="bannerText__list bannerText__list--bottom">
            <div class="bannerText__item skeleton-loader hover-image shine-effect">
                <a href="#" class="bannerText__image" data-step-animate="5">
                    <img src="/product_images/uploaded_images/home-banner-5.png" alt="Banner Image">
                </a>
                <div class="bannerText__content" data-step-animate="5">
                    <p class="text">Shop All</p>
                    <h2 class="title">EQUIPMENT & POWER TOOLS</h2>
                </div>
            </div>
            <div class="bannerText__item skeleton-loader hover-image shine-effect">
                <a href="#" class="bannerText__image" data-step-animate="6">
                    <img src="/product_images/uploaded_images/home-banner-6.png" alt="Banner Image">
                </a>
                <div class="bannerText__content" data-step-animate="6">
                    <p class="text">Shop All</p>
                    <h2 class="title">REINSTATEMENT MATERIALS</h2>
                </div>
            </div>
            <div class="bannerText__item skeleton-loader hover-image shine-effect">
                <a href="#" class="bannerText__image" data-step-animate="7">
                    <img src="/product_images/uploaded_images/home-banner-7.png" alt="Banner Image">
                </a>
                <div class="bannerText__content" data-step-animate="7">
                    <p class="text">Shop All</p>
                    <h2 class="title">PPE & FOOTWEAR</h2>
                </div>
            </div>
        </div>
    </div>
</div>