<div class="custom-section brandBlock custom-animate" data-section-load="animation">
    <h2 class="custom-heading" data-step-animate="1">{{heading}}</h2>
    <p class="custom-desc" data-step-animate="2">{{description}}</p>
    <div class="container container-2">
        <div class="brandBlock__list" data-section-load="slick-slider" data-slick-options='
        {   
            "infinite": true,
            "slidesToShow": 6,
            "slidesToScroll": 1,
            "autoplay": false,
            "arrows": true,
            "dots": false,
            "responsive": [
                {
                    "breakpoint": 1500,
                    "settings": {
                        "slidesToShow": 5
                    }
                },
                {
                    "breakpoint": 1024,
                    "settings": {
                        "slidesToShow": 4
                    }
                },
                {
                    "breakpoint": 900,
                    "settings": {
                        "slidesToShow": 3
                    }
                },
                {
                    "breakpoint": 768,
                    "settings": {
                        "slidesToShow": 2
                    }
                }
            ]
        }
            '>
            <div class="brandBlock__item skeleton-loader" data-step-animate="3">
                <a href="{{item1_link}}" class="brandBlock__image hover-image">
                    <img class="lazyload" src="" data-src="/product_images/uploaded_images/{{item1_image}}" alt="{{item1_image}}">
                </a>
            </div>
            <div class="brandBlock__item skeleton-loader" data-step-animate="4">
                <a href="{{item2_link}}" class="brandBlock__image hover-image">
                    <img class="lazyload" src="" data-src="/product_images/uploaded_images/{{item2_image}}" alt="{{item2_image}}">
                </a>
            </div>
            <div class="brandBlock__item skeleton-loader" data-step-animate="5">
                <a href="{{item3_link}}" class="brandBlock__image hover-image">
                    <img class="lazyload" src="" data-src="/product_images/uploaded_images/{{item3_image}}" alt="{{item3_image}}">
                </a>
            </div>
            <div class="brandBlock__item skeleton-loader" data-step-animate="6">
                <a href="{{item4_link}}" class="brandBlock__image hover-image">
                    <img class="lazyload" src="" data-src="/product_images/uploaded_images/{{item4_image}}" alt="{{item4_image}}">
                </a>
            </div>
            <div class="brandBlock__item skeleton-loader" data-step-animate="7">
                <a href="{{item5_link}}" class="brandBlock__image hover-image">
                    <img class="lazyload" src="" data-src="/product_images/uploaded_images/{{item5_image}}" alt="{{item5_image}}">
                </a>
            </div>
            <div class="brandBlock__item skeleton-loader" data-step-animate="8">
                <a href="{{item6_link}}" class="brandBlock__image hover-image">
                    <img class="lazyload" src="" data-src="/product_images/uploaded_images/{{item6_image}}" alt="{{item6_image}}">
                </a>
            </div>
            <div class="brandBlock__item skeleton-loader" data-step-animate="9">
                <a href="{{item7_link}}" class="brandBlock__image hover-image">
                    <img class="lazyload" src="" data-src="/product_images/uploaded_images/{{item7_image}}" alt="{{item7_image}}">
                </a>
            </div>
        </div>
    </div>
</div>