<div class="bannerText custom-animation" data-section-load="animation">
    <div class="container container--full">
        <div class="bannerText__list bannerText__list--top">
            <div class="bannerText__item skeleton-loader hover-image shine-effect">
                <a href="{{theme_settings.home_top_banner1_link}}" class="bannerText__image" data-step-animate="1">
                    <img src="/product_images/uploaded_images/{{theme_settings.home_top_banner1_image}}" alt="Banner {{theme_settings.home_top_banner1_text}}">
                </a>
                <div class="bannerText__content" data-step-animate="1">
                    <p class="text">{{theme_settings.home_top_banner1_title}}</p>
                    <h2 class="title">{{theme_settings.home_top_banner1_text}}</h2>
                </div>
            </div>
            <div class="bannerText__item skeleton-loader hover-image shine-effect">
                <a href="{{theme_settings.home_top_banner2_link}}" class="bannerText__image" data-step-animate="2">
                    <img src="/product_images/uploaded_images/{{theme_settings.home_top_banner2_image}}" alt="Banner {{theme_settings.home_top_banner2_text}}">
                </a>
                <div class="bannerText__content" data-step-animate="2">
                    <p class="text">{{theme_settings.home_top_banner2_title}}</p>
                    <h2 class="title">{{theme_settings.home_top_banner2_text}}</h2>
                </div>
            </div>
            <div class="bannerText__item skeleton-loader hover-image shine-effect">
                <a href="{{theme_settings.home_top_banner3_link}}" class="bannerText__image" data-step-animate="3">
                    <img src="/product_images/uploaded_images/{{theme_settings.home_top_banner3_image}}" alt="Banner {{theme_settings.home_top_banner3_text}}">
                </a>
                <div class="bannerText__content" data-step-animate="3">
                    <p class="text">{{theme_settings.home_top_banner3_title}}</p>
                    <h2 class="title">{{theme_settings.home_top_banner3_text}}</h2>
                </div>
            </div>
            <div class="bannerText__item skeleton-loader hover-image shine-effect">
                <a href="{{theme_settings.home_top_banner4_link}}" class="bannerText__image" data-step-animate="4">
                    <img src="/product_images/uploaded_images/{{theme_settings.home_top_banner4_image}}" alt="Banner {{theme_settings.home_top_banner4_text}}">
                </a>
                <div class="bannerText__content" data-step-animate="4">
                    <p class="text">{{theme_settings.home_top_banner4_title}}</p>
                    <h2 class="title">{{theme_settings.home_top_banner4_text}}</h2>
                </div>
            </div>
        </div>
        <div class="bannerText__list bannerText__list--bottom">
            <div class="bannerText__item skeleton-loader hover-image shine-effect">
                <a href="{{theme_settings.home_top_banner5_link}}" class="bannerText__image" data-step-animate="5">
                    <img src="/product_images/uploaded_images/{{theme_settings.home_top_banner5_image}}" alt="Banner {{theme_settings.home_top_banner5_text}}">
                </a>
                <div class="bannerText__content" data-step-animate="5">
                    <p class="text">{{theme_settings.home_top_banner5_title}}</p>
                    <h2 class="title">{{theme_settings.home_top_banner5_text}}</h2>
                </div>
            </div>
            <div class="bannerText__item skeleton-loader hover-image shine-effect">
                <a href="{{theme_settings.home_top_banner6_link}}" class="bannerText__image" data-step-animate="6">
                    <img src="/product_images/uploaded_images/{{theme_settings.home_top_banner6_image}}" alt="Banner {{theme_settings.home_top_banner6_text}}">
                </a>
                <div class="bannerText__content" data-step-animate="6">
                    <p class="text">{{theme_settings.home_top_banner6_title}}</p>
                    <h2 class="title">{{theme_settings.home_top_banner6_text}}</h2>
                </div>
            </div>
            <div class="bannerText__item skeleton-loader hover-image shine-effect">
                <a href="{{theme_settings.home_top_banner7_link}}" class="bannerText__image" data-step-animate="7">
                    <img src="/product_images/uploaded_images/{{theme_settings.home_top_banner7_image}}" alt="Banner {{theme_settings.home_top_banner7_text}}">
                </a>
                <div class="bannerText__content" data-step-animate="7">
                    <p class="text">{{theme_settings.home_top_banner7_title}}</p>
                    <h2 class="title">{{theme_settings.home_top_banner7_text}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>