<div class="serviceBlock">
    <div class="container">
        <div class="serviceBlock__list">
            <div class="serviceBlock__item">
                <span class="item-icon icon icon--credit-card">
                    <svg><use xlink:href="#icon-credit-card"></use></svg>
                </span>
                <span class="item-text">Credit Accounts Available</span>
            </div>
            <div class="serviceBlock__item">
                <span class="item-icon icon icon--truck">
                    <svg><use xlink:href="#icon-fast-shipping"></use></svg>
                </span>
                <span class="item-text">Next Day UK Delivery</span>
            </div>
            <div class="serviceBlock__item">
                <a href="#" class="item-link">
                    <img src="https://cdn11.bigcommerce.com/s-6y4u68maoa/images/stencil/original/image-manager/image-30.png" alt="Trustpilot Icon">
                </a>
            </div>
        </div>
    </div>
</div>