<div class="serviceBlock">
    <div class="container">
        <div class="serviceBlock__list">
            <div class="serviceBlock__item">
                <span class="item-icon icon icon--credit-card">
                    <svg><use xlink:href="#icon-credit-card"></use></svg>
                </span>
                <span class="item-text">{{theme_settings.service_section_text_1}}</span>
            </div>
            <div class="serviceBlock__item">
                <span class="item-icon icon icon--truck">
                    <svg><use xlink:href="#icon-fast-shipping"></use></svg>
                </span>
                <span class="item-text">{{theme_settings.service_section_text_2}}</span>
            </div>
            <div class="serviceBlock__item">
                <a href="{{theme_settings.service_section_img_link}}" class="item-link">
                    <img src="https://cdn11.bigcommerce.com/s-6y4u68maoa/images/stencil/original/image-manager/{{theme_settings.service_section_img}}" alt="Trustpilot Icon">
                </a>
            </div>
        </div>
    </div>
</div>