// Home Service Block
// -----------------------------------------------------------------------------
.serviceBlock {
    background-color: $color-custom-black;
    padding: 10px 0;
    &__list {
        @include flexbox($align-items: center, $justify-content: center);
    }

    &__item {
        @include flexbox($align-items: center, $justify-content: center);

        &:nth-child(2) {
            margin-left: 85px;
            margin-right: 90px;

            @include smax-m {
                margin-left: 40px;
                margin-right: 40px;
            }

            .item-icon {
                margin-right: 4px;
            }
        }

        .item-icon {
            margin-right: 8px;
            height: 32px;
            width: 100%;

            &.icon--credit-card {
                max-width: 35px;
            }

            &.icon--truck {
                max-width: 40px;
            }
        }

        .item-text {
            color: #ffffff;
            font-weight: 300;
            line-height: 21px;
            letter-spacing: 0;
        }
        .item-link {
            min-height: 32px;
        }
    }
}

// Home Banner Text
// -----------------------------------------------------------------------------
.bannerText {
    background-color: #d6d6d6;
    padding: 18px;
    margin-bottom: 37px;

    @include smax-s {
        padding: 12px;
    }

    > .container {
        padding: 0
    }

    &__list {
        @include flex-layout(4, 8px);

        @include smax-m {
            @include flex-layout(2, 8px);
        }
        @include smax-s {
            @include flex-layout(1, 8px);
        }

        .bannerText__image {
            @include image-padding-bottom(465, 265);
        }

        &--bottom {
            @include flex-layout(3, 10px);
            margin-top: 8px;

            @include smax-s {
                @include flex-layout(1, 10px);
            }

            .bannerText__image {
                @include image-padding-bottom(622, 354);
            }
        }
    }

    &__item {
        position: relative;

        &:hover {
            .bannerText__content {
                color: $color-custom-red;
            }
        }
    }

    &__content {
        @include pos($pos: abs, $b: 36px, $r: 18px);
        text-align: right;
        color: #ffffff;
        text-transform: uppercase;

        h2 {
            position: relative;
            margin: 0;
            font-size: 24px;
            line-height: 21px;
            letter-spacing: 0;
            font-weight: bold;
            color: inherit;

            &::after {
                content: "";
                @include pos($pos: abs, $b: -18px, $r: 0);
                background-color: $color-custom-red;
                width: 61px;
                height: 10px;
            }

            @include smax-s {
                font-size: 21px;
                line-height: 18px;

                &::after {
                    width: 56px;
                    height: 9px;
                }
            }
        }

        p {
            margin-bottom: 0;
            letter-spacing: 0;
            line-height: 21px;
            font-weight: 500;

            @include smax-s {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}

//  Home Banner 2 Columns
// -----------------------------------------------------------------------------
.homeBanner {
    margin-top: 40px;
    &__list {
        @include flex-layout(2, 12px);

        @include smax-s {
            @include flex-layout(1, 0px)
        }
    }

    &__item {
        position: relative;
        color: #ffffff;

        @include smax-s {
            + .homeBanner__item {
                margin-top: 7px;
            }
        }
    }

    &__image {
        @include image-padding-bottom(676, 223);
        display: block;
        min-height: 223px;
    }

    &__content {
        @include pos($pos: abs, $cb: center);
        @include flexbox($align-items: center, $justify-content: center, $flex-direction: column);
        text-align: center;

        .title {
            color: inherit;
            font-size: 45px;
            line-height: 20px;
            font-weight: 600;
            letter-spacing: 0;

            > span {
                font-size: 27px;
            }
        }

        .text {
            font-size: 20px;
            line-height: 1;
            letter-spacing: 0;
            font-weight: 300;
        }
    }
}

// Home Brands Block
// -----------------------------------------------------------------------------
.brandBlock {
    margin-top: 5px;
    padding-bottom: 26px;

    .custom-desc {
        margin-bottom: 20px;
    }

    > .container {
        @include maxWidth(1500px) {
            max-width: calc(100% - 104px);
        };

        @include smax-xxs {
            max-width: calc(100% - 40px);
        }; 
    }
    &__list {
        /* Before add slick slider */
        &:not(.slick-initialized){
            @include flex-layout(6, 14px);
            flex-wrap: nowrap;

            @include smax-m {
                @include flex-layout(4, 14px);
            }
    
            @include smax-s {
                @include flex-layout(2, 14px);
            }

            /* Hide item has nth > 6 */
            .brandBlock__item:nth-child(n+7) {
                display: none;
            }

            @include smax-m {
                .brandBlock__item:nth-child(n+5) {
                    display: none;
                }
            }

            @include smax-s {
                .brandBlock__item:nth-child(n+3) {
                    display: none;
                }
            }

            .brandBlock__image {
                background-color: transparent;
            }
        }

        /* Hide Skeleton After loaded slick */
        &.slick-initialized {
            .skeleton-loader {
                background: none;
            }
        }
    }

    &__item {
        position: relative;
    }

    .slick-list {
        margin: 0 -7px;

        @include smax-s {
            margin: 0 -5px;
        }; 
    }
    
    .slick-slide {
        padding: 0 7px;

        @include smax-s {
            padding: 0 5px;
        }
    }

    .slick-prev {
        @include smax-xl {
            left: -50px;
        }; 

        @include smax-xxs {
            left: -25px;
        }; 
    }

    .slick-next {
        @include smax-xl {
            right: -50px;
        }; 

        @include smax-xxs {
            right: -25px;
        };
    }

    &__image {
        @include image-padding-bottom(215, 124);
        border: 1px solid #d6d6d6;
        display: block;

        img {
            background-color: #ffffff;
            object-fit: none;

            @include smax-m {
                object-fit: contain;
                padding: 12px;
            }
        }
    }
}

//
// Home Recent Posts
//---------------------------------------------------------------------------- 
.recentlyPost {
    background-color: #D6D6D6;
    padding: 20px 0;

    .custom-desc {
        margin-bottom: 16px;
    }

    &__desc {
        position: relative;

        > .recentlyPost__viewAll {
            text-decoration: none;
            @include pos($pos: abs, $r: 15px, $cb: center-y);

            @include minWidth(1364px) {
                right: calc((100% - 1364px) / 2);
            }
        }
    }

    &__list {
        &:not(.slick-initialized) {
            flex-wrap: nowrap;

            @include smax-xl {
                @include flex-layout(3, 7px);
            };
            
            @include smax-s {
                @include flex-layout(2, 7px);
            }; 

            @include smax-xs {
                @include flex-layout(1, 7px);
            }; 
        }
        @include smin-xl {
            @include flex-layout(4, 7px);
        };
    }

    .slick-list {
        @include smax-xl {
            margin: 0 -7px;
        }
    }
    
    .slick-slide {
        @include smax-xl {
            padding: 0 7px;
        }
    }

    &__item {
        .item-image {
            @include image-padding-bottom(465, 264);
        }

        .item-content {
            background-color: #ffffff;
            padding: 20px 10px 13px 14px;

            .title {
                margin: 0;

                > a {
                    line-height: 21px;
                    font-size: $fontSize-root;
                    font-weight: $fontWeight-medium;
                    letter-spacing: 0;
                    @include lineClamp(2, 21px);
                    text-decoration: none;
                }
            }

            .content-bottom {
                @include flexbox($align-items: center, $justify-content: space-between);

                .date {
                    margin: 0;
                    color: $color-custom-red;
                    font-size: 12px;
                    line-height: 21px;
                    letter-spacing: 0;
                    font-weight: 300;
                }

                .readMore {
                    color: $color-custom-red;
                    font-size: 14px;
                    line-height: 25px;
                    letter-spacing: 0;
                    font-weight: $fontWeight-bold;
                    text-transform: uppercase;
                }
            }
        }
    }
}

/* EZ Street Page */
.ezTopBanner {
    &Image {
        @include image-padding-bottom(1920, 500);
    }
}

.rethinkAsphalt {
    background-color: $color-custom-blue;
    padding: 24px 0 32px;
    margin-top: 22px;

    &__heading {

    }

    &__desc {
        
    }

    &__list {
        @include flex-layout(8, 20px);
        margin-top: 45px;

        @include smax-l {
            justify-content: center;
        }
    }

    &__item {
        @include flexbox($align-items: center, $flex-direction: column);

        @include smax-l {
            min-width: 90px;
        }
        .item-text {
            color: #ffffff;
            text-align: center;
            margin-bottom: 0;
        }
    }
}

.advantages {
    &__top {
        background-color: #84C3F0;
        padding-top: 14px;
        padding-bottom: 22px;
    }

    &__wrapper {
        width: 100%;
        @include flex-layout(2, 0px);
    }

    &__item {
        @include flexbox();

        &.item--right {
            background-color: #F5F2F3;
        }

        .item-image {
            margin-right: 30px;
        }

        .item-heading {
            text-align: left;
        }

        .item-subTitle {
            color: $color-custom-blue;
        }
    }
}