:root {
    --desktopCol: 4;
    --tabletCol: 2;
    --mobileCol: 1;
    --desktopGap: 20px;
    --tabletGap: 20px;
    --mobileGap: 20px;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    display: none;
    visibility: hidden;
    transition: $anchor-transition;
    background-color: rgba(59, 59, 59, .7);

    .has-openCartSidebar &{
        z-index: 102;
        opacity: 1;
        display: block;
        visibility: visible;
    }
}


/* ----------------- Load Animation ----------------------*/
.no-js .custom-animation {
    transform: translatey(0);
}

.custom-animation {
    [data-step-animate], 
    &[data-step-animate] {
        transform: translatey(100px);
    }
}

.js {
    [data-step-animate] {
        transition-property: transform, opacity;
        transition-timing-function: ease;
        transform: translatey(100px);
        opacity: 0;

        @for $i from 0 through 100 {
            &[data-step-animate='#{$i}'] {
                transition-delay: 0.1s + $i * 0.02;
                transition-duration: 0.3s + $i * 0.1;
            }
        }
    }
    .animated {
        [data-step-animate],
        &[data-step-animate] {
            transform: translatey(0);
            opacity: 1;
        }
    }
}

@include smin-m {
    /* ------------------ Hover Image Zoom ------------------------- */
    .hover-image {
        overflow: hidden;
        cursor: pointer;

        img {
            transition: all 0.8s ease;
        }

        &:hover {
            img {
                transform: scale3d(1.1, 1.1, 1);
            }
        }
    }

    /* Image Effect Shine Cross */
    .shine-effect {
        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;
            transition: background-position 6s ease, opacity 300ms ease;
            mix-blend-mode: overlay;
            background-size: 400% 100%;
            background-position: 90% 0;
            background-repeat: no-repeat;
            background-image: linear-gradient(135deg, #fff0 45%, #fff, #fff0 55%);
        }
        
        &:hover {
            &:after {
                opacity: .4;
                transition: background-position 1s ease, opacity 500ms ease;
                background-position: left;
                z-index: 2;
            }
        }
    }
    
    /* ------------------ Hover Link ------------------------- */
    .hover-link {
        text-decoration: none;

        > span:not(.icon):not(.navUser-icon) {
            background: linear-gradient(90deg, currentColor 33.33333%,transparent 0 70%, currentColor 0) 50% 100%/300% 1px no-repeat;
            transition: background .6s cubic-bezier(.52,.18,.45,1.4) 0s;
        }

        &:hover {
            > span:not(.icon):not(.navUser-icon) {
                background: linear-gradient(90deg, currentColor 33.33333%,transparent 0 70%, currentColor 0) 0% 100%/300% 1px no-repeat;
            }
        }
    }
}

/* Flex Layout */
.row {
    --f-col: var(--rowDesktop);
    --f-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--f-gap) / -2);
    margin-right: calc(var(--f-gap) / -2);

    @include smax-m {
        --f-col: var(--rowTablet);
    }

    @include smax-s {
        --f-col: var(--rowMobile);
    }

    .col {
        padding-left: calc(var(--f-gap) / 2);
        padding-right: calc(var(--f-gap) / 2);
        flex: 0 0 calc(100% / var(--f-col));
        max-width: calc(100% / var(--f-col));
    }
}

//
// Grid Layout
// -----------------------------------------------------------------------------
.grid {
    --colDesktop: var(--desktopCol);
    --colTablet: var(--tabletCol);
    --colMobile: var(--mobileCol);
    display: grid;
    grid-template-columns: repeat(var(--colDesktop), 1fr);
    gap: var(--desktopGap);

    @include smax-m {
        grid-template-columns: repeat(var(--colTablet), 1fr);
        gap: var(--tabletGap);
    }

    @include smax-s {
        grid-template-columns: repeat(var(--colMobile), 1fr);
        gap: var(--mobileGap);
    }
}

//
// Skeleton Loader
// -----------------------------------------------------------------------------
.skeleton-loader {
    background: #f2f2f2;
    background: linear-gradient(120deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
    background-size: 200% 100%;
    animation: skeleton-loading 4s infinite linear;
}

@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

@keyframes fadeInDown {
    from {
        transform: translateY(-80px);
        opacity: 0.7;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}