
<div class="tabs-contents">
    {{#if product.videos.list.length}}
        <div class="tab-content" id="tab-video">
            <a class="tab-titleMobile" href="#tab-video"><span>{{lang 'products.video'}}</span></a>
            <div class="tabContent" id="tab-video-mobile">
                {{> components/products/videos product.videos}}
            </div>
        </div>
    {{/if}}

    {{#if product.description}}
        <div class="tab-content{{#unless theme_settings.show_description_tab}} hide-on-all{{/unless}}" id="tab-description">
            <a class="tab-titleMobile" href="#tab-description"><span>{{lang 'products.description'}}</span></a>
            <div class="tabContent">
                {{{product.description}}}
            </div>
        </div>
    {{/if}}

    {{#if theme_settings.show_custom_tabs}}
        <div class="tab-content tab-custom" id="tab-custom">
            <a class="tab-titleMobile" href="#tab-custom" data-tab-load="{{theme_settings.show_custom_tab_link}}" data-tab-check="true"><span>{{lang 'products.custom_tab'}}</span></a>
            <div class="tabContent">
                <a href="#" class="download-file-button">
                    <span class="icon icon--file-download">
                        <svg><use xlink:href="#icon-file-download"></use></svg>
                    </span>
                </a>
            </div>
        </div>
    {{/if}}
    {{#all product.warranty theme_settings.show_warranty_tabs}}
        <div class="tab-content {{#unless product.description}}is-active{{/unless}}" id="tab-warranty">
            <a class="tab-titleMobile {{#unless product.description}}is-active{{/unless}}" href="#tab-warranty"><span>{{lang 'products.warranty'}}</span></a>
            <div class="tabContent">
                {{{product.warranty}}}
            </div>
        </div>
    {{/all}}
    {{#all product.custom_fields theme_settings.show_custom_fields_tabs}}
        <div class="tab-content" id="tab-{{dashcase (lowercase (sanitize theme_settings.pdp-custom-fields-tab-label))}}">
            <a class="tab-titleMobile" href="#tab-{{dashcase (lowercase (sanitize theme_settings.pdp-custom-fields-tab-label))}}"><span>{{sanitize theme_settings.pdp-custom-fields-tab-label}}</span></a>
            <div class="tabContent">
                <dl class="productView-info">
                    {{#each product.custom_fields}}
                        {{#startsWith '__' name}}
                        {{else}}
                            <dt class="productView-info-name" data-custom-field-name="{{name}}">{{name}}:</dt>
                            <dd class="productView-info-value" data-custom-field-name="{{name}}">{{{ sanitize value}}}</dd>
                        {{/startsWith}}
                    {{/each}}
                </dl>
            </div>
        </div>
    {{/all}}
    {{#all settings.show_product_reviews theme_settings.show_product_reviews}}
        <div class="tab-content" id="tab-reviews">
            {{#all settings.show_product_reviews theme_settings.show_product_reviews}}
                <a class="tab-titleMobile productView-reviewTabLink" href="#tab-reviews"><span>{{lang 'products.reviews.header' total=product.reviews.total}}</span></a>
            {{/all}}

            <div class="tabContent tabContent--review">
                <div class="review__header">
                    {{> components/products/ratings rating=product.rating}}
                    <span>Based on {{product.reviews.total}}{{#if product.reviews.total '<' 2}} Review{{else}} Reviews{{/if}}</span>
                </div>

                {{> components/bspoq/products/chart-review product=product rating=product.rating reviews=product.reviews urls=urls}}
                {{> components/products/reviews reviews=product.reviews product=product urls=urls}}

                <div class="review-button-group">
                    <a href="#" class="button button-secondary view-all-review uppercase {{#if product.reviews.total '<' 3}}button-disable{{/if}}">
                        {{#if product.reviews.total '<' 3}}
                            No More Review
                        {{else}}
                            View All Review
                        {{/if}}
                    </a>
                    {{#if settings.show_product_reviews}}
                        <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
                           class="productView-reviewLink productView-reviewLink--new"
                           {{#unless is_ajax}}data-reveal-id="modal-review-form"{{/unless}}
                           role="button"
                        >
                           {{lang 'products.reviews.new'}}
                        </a>
                        {{#unless is_ajax}}
                            {{> components/products/modals/writeReview}}
                        {{/unless}}
                    {{/if}}
                </div>
            </div>
        </div>
    {{/all}}
    {{#if theme_settings.show_shipping_tabs}}
        <div class="tab-content" id="tab-shipping">
            <a class="tab-titleMobile" href="#tab-shipping" data-tab-load="{{theme_settings.show_shipping_tab_link}}" data-tab-check="true"><span>{{lang 'products.shipping_returns'}}</span></a>
            <div class="tabContent">
                <img class="icon-loading" src="{{cdn 'img/loading.svg'}}" alt="Icon Loading">
            </div>
        </div>
    {{/if}}
</div>
